In [1]:
import pandas as pd
#GRO import
GRO = pd.read_excel('https://recovery.smithschool.ox.ac.uk/wp-content/uploads/2021/05/20210524-Global-Recovery-Observatory-publicv2.xlsx', sheet_name="COVID-19 Measures",
                  na_values=[".."], usecols={'Country', 'Total Value, USD (billions)', 'Clean archetype?', 'Recovery?'})
index = GRO[GRO['Recovery?'] != 1].index
rec = GRO.drop(index, inplace=False)
rec = rec.groupby(["Country"], as_index=False).sum()
rec = rec.drop(columns=['Recovery?', 'Clean archetype?'])

index2 = GRO[GRO['Clean archetype?'] != 1].index
greenrec = GRO.drop(index2, inplace=False)
index = greenrec[greenrec['Recovery?'] != 1].index
greenrec.drop(index, inplace=True)
greenrec = greenrec.groupby(["Country"], as_index=False).sum()
greenrec = greenrec.drop(columns=['Recovery?', 'Clean archetype?'])

In [2]:
merge = greenrec.merge(rec, how='left', left_on='Country', right_on='Country')
merge['Percent'] = (merge['Total Value, USD (billions)_x'] / merge['Total Value, USD (billions)_y']) * 100
merge.rename(columns = {"Total Value, USD (billions)_x" : "Green recovery spending", "Total Value, USD (billions)_y" : "Recovery spending"}, inplace=True)
merge = merge.round({"Percent" : 2})
merge = merge[['Country', 'Green recovery spending', 'Percent']]
merge

               Country  Green recovery spending  Percent
0            Argentina                     0.00     0.00
1            Australia                     2.30     1.76
2              Austria                     0.38    23.75
3           Bangladesh                     0.55    87.30
4               Brazil                     0.28    51.85
5         Burkina Faso                     0.00      NaN
6               Canada                    21.67    55.99
7                Chile                     0.45    14.38
8                China                    51.88    12.14
9             Colombia                     0.15    46.88
10                Cuba                     0.00      NaN
11             Denmark                     8.24    62.00
12  Dominican Republic                     0.00     0.00
13                 EIB                   238.24    75.48
14      European Union                    78.71     9.92
15             Finland                     2.79    58.00
16              France                    40.01    35.56
17             Germany                    47.43    47.33
18               Ghana                     0.00     0.00
19            Honduras                     0.00     0.00
20               India                     0.82     5.10
21                Iraq                     0.00     0.00
22             Ireland                     0.36     6.30
23              Israel                     0.62    28.57
24               Italy                     0.90     1.53
25             Jamaica                     0.05   100.00
26               Japan                    23.67    12.28
27               Kenya                     0.04    22.22
28           Mauritius                     0.01   100.00
29              Mexico                     0.00     0.00
30         Netherlands                     0.18     0.66
31              Norway                     4.42    53.51
32            Pakistan                     0.13     4.63
33              Panama                     0.18    50.00
34                Peru                     0.00     0.00
35         Philippines                     0.00     0.00
36              Poland                     5.24    30.77
37             Senegal                     0.10    18.87
38         South Korea                    53.30    26.80
39               Spain                    51.19    23.30
40              Sweden                     1.10    41.67
41         Switzerland                     1.57    53.58
42            Thailand                     0.00     0.00
43              Turkey                     2.44   100.00
44      United Kingdom                    65.67    16.77
45       United States                     9.90     8.06
46             Vietnam                     0.00      NaN

In [3]:
#renewable energy consumption import
df = pd.read_excel(r'C:\Users\ebloom\Desktop\IRENA.xlsx',
                  na_values=["0", ".."])
df = df[df['Year'] == 2018]
df = df[df['Technology/source'] == 'GrandTotal']
df = df[df['Category'] == 'Final Consumption-Total']
df = df.round(2)
df.loc[df['Country']=='United States of America']
df.at[133, 'Country'] = 'United States'
GROmerge = merge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge = GROmerge[['Country', 'Percent', 'Green recovery spending', 'TJ']]
GROmerge.rename(columns = {"TJ" : "Renewable energy consumption (TJ)"}, inplace=True)
GROmerge

,Country,Percent,Green recovery spending,Renewable energy consumption (TJ)
0,Argentina,0.00,0.00,267341.51
1,Australia,1.76,2.30,NaN
2,Austria,23.75,0.38,371003.09
3,Bangladesh,87.30,0.55,NaN
4,Brazil,51.85,0.28,3406346.36
5,Burkina Faso,NaN,0.00,NaN
6,Canada,55.99,21.67,NaN
7,Chile,14.38,0.45,295176.56
8,China,12.14,51.88,10399138.67
9,Colombia,46.88,0.15,405234.43
10,Cuba,NaN,0.00,65382.01
11,Denmark,62.00,8.24,222038.54
12,Dominican Republic,0.00,0.00,30426.70
13,EIB,75.48,238.24,NaN
14,European Union,9.92,78.71,NaN
15,Finland,58.00,2.79,479796.68
16,France,35.56,40.01,982030.21
17,Germany,47.33,47.43,1371167.94
18,Ghana,0.00,0.00,134869.31
19,Honduras,0.00,0.00,79822.57
20,India,5.10,0.82,NaN
21,Iraq,0.00,0.00,5072.00
22,Ireland,6.30,0.36,51421.48
23,Israel,28.57,0.62,21619.67
24,Italy,1.53,0.90,907225.69
25,Jamaica,100.00,0.05,7620.43
26,Japan,12.28,23.67,NaN
27,Kenya,22.22,0.04,290520.21
28,Mauritius,100.00,0.01,3177.45
29,Mexico,0.00,0.00,476628.79
30,Netherlands,0.66,0.18,152883.32
31,Norway,53.51,4.42,498092.34
32,Pakistan,4.63,0.13,NaN
33,Panama,50.00,0.18,37770.62
34,Peru,0.00,0.00,230603.80
35,Philippines,0.00,0.00,NaN
36,Poland,30.77,5.24,333519.04
37,Senegal,18.87,0.10,55323.98
38,South Korea,26.80,53.30,NaN
39,Spain,23.30,51.19,617684.99
40,Sweden,41.67,1.10,738914.45
41,Switzerland,53.58,1.57,NaN
42,Thailand,0.00,0.00,NaN
43,Turkey,100.00,2.44,489728.50
44,United Kingdom,16.77,65.67,607446.19
45,United States,8.06,9.90,NaN
46,Vietnam,NaN,0.00,NaN

In [4]:
import pycountry
#deforestation import
df = pd.read_csv(r'C:\Users\ebloom\Desktop\Global_Annual_Treecover_Loss.csv', usecols={"iso", "umd_tree_cover_loss__year", "umd_tree_cover_loss__ha"},
                  na_values=["0", ".."])
df.rename(columns = {"umd_tree_cover_loss__year" : "Year", "umd_tree_cover_loss__ha" : "Tree Cover Loss (ha)"}, inplace=True)
df = df.round({'Tree Cover Loss (ha)' : 2})
df = pd.pivot_table(df, values='Tree Cover Loss (ha)', index=['iso'], columns=['Year'])
df.rename(columns={2018 : '2018', 2019 : '2019'},inplace=True)
df = df[['2018', '2019']]

countries = {}
for country in pycountry.countries:
    countries[country.alpha_3] = country.name
##print(countries)
df['Country'] = [countries.get(code) for code in df.index]
df.at['VNM', 'Country'] = "Vietnam"
df.at['KOR', 'Country'] = "South Korea"
df

Year       2018       2019        Country
iso
ABW        0.30        NaN          Aruba
AFG       25.71      17.12    Afghanistan
AGO   242552.50  175098.37         Angola
AIA        0.22        NaN       Anguilla
ALA      619.71    2361.29  Åland Islands
..          ...        ...            ...
XKO      593.89     697.40           None
XNC       17.55      12.56           None
ZAF    63666.75   76139.76   South Africa
ZMB   143944.23  124640.78         Zambia
ZWE     6557.18   11553.33       Zimbabwe

[214 rows x 3 columns]

In [5]:
GROmerge = GROmerge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge.rename(columns = {"2019" : "Annual tree cover loss (ha)"}, inplace=True)
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)']]
#GROmerge = GROmerge.drop(columns={'2018'})
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha)
0,Argentina,0.00,0.00,267341.51,145444.27
1,Australia,2.30,1.76,NaN,1661547.60
2,Austria,0.38,23.75,371003.09,33642.43
3,Bangladesh,0.55,87.30,NaN,22078.76
4,Brazil,0.28,51.85,3406346.36,2696748.80
5,Burkina Faso,0.00,NaN,NaN,NaN
6,Canada,21.67,55.99,NaN,2175715.83
7,Chile,0.45,14.38,295176.56,78735.47
8,China,51.88,12.14,10399138.67,496972.44
9,Colombia,0.15,46.88,405234.43,268409.88
10,Cuba,0.00,NaN,65382.01,7463.61
11,Denmark,8.24,62.00,222038.54,9180.33
12,Dominican Republic,0.00,0.00,30426.70,14930.84
13,EIB,238.24,75.48,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40
16,France,40.01,35.56,982030.21,81304.17
17,Germany,47.43,47.33,1371167.94,108232.51
18,Ghana,0.00,0.00,134869.31,88256.58
19,Honduras,0.00,0.00,79822.57,81416.23
20,India,0.82,5.10,NaN,121154.44
21,Iraq,0.00,0.00,5072.00,0.06
22,Ireland,0.36,6.30,51421.48,10370.41
23,Israel,0.62,28.57,21619.67,54.36
24,Italy,0.90,1.53,907225.69,59704.92
25,Jamaica,0.05,100.00,7620.43,2292.16
26,Japan,23.67,12.28,NaN,51380.58
27,Kenya,0.04,22.22,290520.21,15950.24
28,Mauritius,0.01,100.00,3177.45,NaN
29,Mexico,0.00,0.00,476628.79,327437.78
30,Netherlands,0.18,0.66,152883.32,2481.33
31,Norway,4.42,53.51,498092.34,64784.06
32,Pakistan,0.13,4.63,NaN,81.24
33,Panama,0.18,50.00,37770.62,33993.59
34,Peru,0.00,0.00,230603.80,231257.38
35,Philippines,0.00,0.00,NaN,64038.61
36,Poland,5.24,30.77,333519.04,76720.94
37,Senegal,0.10,18.87,55323.98,277.64
38,South Korea,53.30,26.80,NaN,20731.60
39,Spain,51.19,23.30,617684.99,71021.86
40,Sweden,1.10,41.67,738914.45,332826.99
41,Switzerland,1.57,53.58,NaN,3518.71
42,Thailand,0.00,0.00,NaN,129794.03
43,Turkey,2.44,100.00,489728.50,39117.94
44,United Kingdom,65.67,16.77,607446.19,28376.64
45,United States,9.90,8.06,NaN,2109918.28
46,Vietnam,0.00,NaN,NaN,216779.40

In [6]:
#natural resource rents import

nr = pd.read_excel(r'C:\Users\ebloom\Desktop\Data_Extract_From_Adjusted_Net_Savings.xlsx',
                   usecols=["Country Name", "Country Code", "2017 [YR2017]", "2018 [YR2018]", "2019 [YR2019]"],
                  na_values=["0", ".."])
nr.rename(columns = {"2017 [YR2017]" : "2017", "2018 [YR2018]" : "2018", "2019 [YR2019]" : "2019"}, inplace=True)
nr = nr.round({'2017' : 2, '2018' : 2, '2019' : 2})
nr = nr.drop(nr.index[264:269])
nr = nr.drop(nr.index[0:47])
nr.at[152, 'Country Name'] = "South Korea"
nr

     Country Name Country Code   2017   2018   2019
47          Aruba          ABW   0.00    NaN    NaN
48    Afghanistan          AFG   0.70   0.92   0.77
49         Angola          AGO  16.45  27.43  26.19
50        Albania          ALB   1.36   1.82   1.59
51        Andorra          AND    NaN    NaN    NaN
..            ...          ...    ...    ...    ...
259        Kosovo          XKX   0.55   0.55   0.40
260   Yemen, Rep.          YEM   2.00   4.44   5.44
261  South Africa          ZAF   3.64   3.60   3.94
262        Zambia          ZMB  13.30  11.31   6.43
263      Zimbabwe          ZWE   4.84   4.36   2.50

[217 rows x 5 columns]

In [7]:
GROmerge = GROmerge.merge(nr, how='left', left_on='Country', right_on='Country Name')
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)', '2019', 'Country Code']]
GROmerge.rename(columns = {"2019" : "Natural resource rents as % GDP"}, inplace=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Country Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,BRA
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,BFA
6,Canada,21.67,55.99,NaN,2175715.83,1.90,CAN
7,Chile,0.45,14.38,295176.56,78735.47,2.30,CHL
8,China,51.88,12.14,10399138.67,496972.44,1.26,CHN
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,COL
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,CUB
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,DNK
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,DOM
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,FIN
16,France,40.01,35.56,982030.21,81304.17,0.04,FRA
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,DEU
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,GHA
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,HND
20,India,0.82,5.10,NaN,121154.44,2.01,IND
21,Iraq,0.00,0.00,5072.00,0.06,39.80,IRQ
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,IRL
23,Israel,0.62,28.57,21619.67,54.36,0.09,ISR
24,Italy,0.90,1.53,907225.69,59704.92,0.09,ITA
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,JAM
26,Japan,23.67,12.28,NaN,51380.58,0.09,JPN
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,KEN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,MUS
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,MEX
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,NLD
31,Norway,4.42,53.51,498092.34,64784.06,6.98,NOR
32,Pakistan,0.13,4.63,NaN,81.24,1.16,PAK
33,Panama,0.18,50.00,37770.62,33993.59,0.08,PAN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,PER
35,Philippines,0.00,0.00,NaN,64038.61,0.68,PHL
36,Poland,5.24,30.77,333519.04,76720.94,0.69,POL
37,Senegal,0.10,18.87,55323.98,277.64,1.29,SEN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,KOR
39,Spain,51.19,23.30,617684.99,71021.86,0.05,ESP
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,SWE
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,CHE
42,Thailand,0.00,0.00,NaN,129794.03,1.63,THA
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,TUR
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,GBR
45,United States,9.90,8.06,NaN,2109918.28,0.57,USA
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,VNM

In [8]:
#fossil fuel subs import
df = pd.read_excel(r'C:\Users\ebloom\Desktop\FossilFuelSubsidiesTracker.xlsx', sheet_name='fulldata',
                  na_values=["0.00", ".."])
df = df[df['Year'] == 2019]
df = df.groupby(['Country']).sum()
df = df.drop(columns={'Year'})
df['% share of GDP'] = df['% share of GDP'] * 100
df = df.round(2)
df = df.reset_index()
df

           Country  % share of GDP  USD nominal per Capita
0          Algeria            7.72                  304.63
1           Angola            1.13                   33.55
2        Argentina            1.15                  115.00
3          Armenia            0.03                    1.60
4        Australia            0.52                  284.86
..             ...             ...                     ...
76  United Kingdom            0.54                  228.02
77   United States            0.04                   24.94
78      Uzbekistan            7.63                  134.07
79       Venezuela            0.00                  448.04
80        Viet Nam            0.10                    2.80

[81 rows x 3 columns]

In [9]:
df[df['Country'] == 'Korea']
df.at[42, 'Country'] = "South Korea"
df[df['Country'] == 'Viet Nam']
df.at[80, 'Country'] = "Vietnam"
df[df['Country'] == "People's Republic of China"]
df.at[57, 'Country'] = "China"

In [10]:
GROmerge = GROmerge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge.rename(columns = {"% share of GDP" : "Fossil fuel subsidies as % GDP", "USD nominal per Capita": "Fossil fuel subsidies USD per Capita"}, inplace=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Country Code,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,ARG,1.15,115.00
1,Australia,2.30,1.76,NaN,1661547.60,5.36,AUS,0.52,284.86
2,Austria,0.38,23.75,371003.09,33642.43,0.13,AUT,0.19,95.99
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,BGD,0.56,10.37
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,BRA,0.46,40.21
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,BFA,NaN,NaN
6,Canada,21.67,55.99,NaN,2175715.83,1.90,CAN,0.13,60.34
7,Chile,0.45,14.38,295176.56,78735.47,2.30,CHL,0.43,64.12
8,China,51.88,12.14,10399138.67,496972.44,1.26,CHN,0.33,32.53
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,COL,0.41,26.58
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,CUB,NaN,NaN
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,DNK,0.07,41.00
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,DOM,NaN,NaN
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,FIN,0.55,267.73
16,France,40.01,35.56,982030.21,81304.17,0.04,FRA,0.35,145.22
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,DEU,0.12,57.55
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,GHA,0.22,4.85
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,HND,NaN,NaN
20,India,0.82,5.10,NaN,121154.44,2.01,IND,0.94,19.46
21,Iraq,0.00,0.00,5072.00,0.06,39.80,IRQ,3.17,189.04
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,IRL,0.15,122.73
23,Israel,0.62,28.57,21619.67,54.36,0.09,ISR,0.30,138.18
24,Italy,0.90,1.53,907225.69,59704.92,0.09,ITA,0.48,159.23
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,JAM,NaN,NaN
26,Japan,23.67,12.28,NaN,51380.58,0.09,JPN,0.04,15.30
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,KEN,NaN,NaN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,MUS,NaN,NaN
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,MEX,1.44,143.66
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,NLD,0.04,22.88
31,Norway,4.42,53.51,498092.34,64784.06,6.98,NOR,0.21,158.43
32,Pakistan,0.13,4.63,NaN,81.24,1.16,PAK,0.75,8.78
33,Panama,0.18,50.00,37770.62,33993.59,0.08,PAN,NaN,NaN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,PER,NaN,NaN
35,Philippines,0.00,0.00,NaN,64038.61,0.68,PHL,NaN,NaN
36,Poland,5.24,30.77,333519.04,76720.94,0.69,POL,0.35,54.97
37,Senegal,0.10,18.87,55323.98,277.64,1.29,SEN,NaN,NaN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,KOR,0.08,27.23
39,Spain,51.19,23.30,617684.99,71021.86,0.05,ESP,0.14,40.35
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,SWE,0.32,169.29
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,CHE,0.35,300.56
42,Thailand,0.00,0.00,NaN,129794.03,1.63,THA,0.10,7.75
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,TUR,0.63,57.24
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,GBR,0.54,228.02
45,United States,9.90,8.06,NaN,2109918.28,0.57,USA,0.04,24.94
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,VNM,0.10,2.80

In [11]:
#CO2 data import

df = pd.read_excel('https://iea.blob.core.windows.net/assets/6296011e-4fed-40c3-95a0-1367a4c4484a/CO2Highlights2020.xls',
                   'CO2-POP', header=21, usecols=[0, 47, 48, 49], na_values='..')
df.columns = df.columns.astype(str)
df = df.round({'2017' : 2, '2018' : 2, '2019' : 2})
df = df[df['Region/Country/Economy'].str.contains('OECD')==False]
df = df.drop(df.index[169:172])
df = df.sort_values('Region/Country/Economy', ascending=True)
df.reset_index(drop=True, inplace=True)
df

    Region/Country/Economy  2017  2018  2019
0                   Africa  0.97  0.98   NaN
1                   Africa  0.97  0.98   NaN
2                  Albania  1.51  1.50   NaN
3                  Algeria  3.15  3.25   NaN
4                 Americas  6.93  7.02   NaN
..                     ...   ...   ...   ...
158              Venezuela  4.20  3.90   NaN
159               Viet Nam  2.02  2.37   NaN
160                  Yemen  0.31  0.28   NaN
161                 Zambia  0.35  0.39   NaN
162               Zimbabwe  0.68  0.81   NaN

[163 rows x 4 columns]

In [12]:
countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3
df['Code'] = [countries.get(country) for country in df['Region/Country/Economy']]
df

    Region/Country/Economy  2017  2018  2019  Code
0                   Africa  0.97  0.98   NaN  None
1                   Africa  0.97  0.98   NaN  None
2                  Albania  1.51  1.50   NaN   ALB
3                  Algeria  3.15  3.25   NaN   DZA
4                 Americas  6.93  7.02   NaN  None
..                     ...   ...   ...   ...   ...
158              Venezuela  4.20  3.90   NaN  None
159               Viet Nam  2.02  2.37   NaN   VNM
160                  Yemen  0.31  0.28   NaN   YEM
161                 Zambia  0.35  0.39   NaN   ZMB
162               Zimbabwe  0.68  0.81   NaN   ZWE

[163 rows x 5 columns]

In [13]:
df.at[18, 'Code'] = 'BOL'
df.at[29, 'Code'] = 'TWN'
df.at[37, 'Code'] = 'CZE'
df.at[40, 'Code'] = 'COD'
df.at[76, 'Code'] = 'IRN'
df.at[84, 'Code'] = 'KOR'
df.at[119, 'Code'] = 'CHN'
df.at[125, 'Code'] = 'MDA'
df.at[133, 'Code'] = 'SVK'
df.at[143, 'Code'] = 'SYR'
df.at[154, 'Code'] = 'TZA'
df.at[158, 'Code'] = 'VEN'

In [14]:
df = df.dropna(subset=['Code'])
df = df.rename(columns={'Region/Country/Economy' : 'Country'})
df.at[84, 'Country'] = 'South Korea'
df.at[119, 'Country'] = 'China'
df.at[159, 'Country'] = 'Vietnam'
df

       Country  2017  2018  2019 Code
2      Albania  1.51  1.50   NaN  ALB
3      Algeria  3.15  3.25   NaN  DZA
5       Angola  0.63  0.61   NaN  AGO
6    Argentina  3.95  3.85   NaN  ARG
7      Armenia  1.75  1.83   NaN  ARM
..         ...   ...   ...   ...  ...
158  Venezuela  4.20  3.90   NaN  VEN
159    Vietnam  2.02  2.37   NaN  VNM
160      Yemen  0.31  0.28   NaN  YEM
161     Zambia  0.35  0.39   NaN  ZMB
162   Zimbabwe  0.68  0.81   NaN  ZWE

[141 rows x 5 columns]

In [15]:
GROmerge = GROmerge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge.rename(columns = {"2018" : "CO2 emissions tons per capita"}, inplace=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Country Code,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,2017,CO2 emissions tons per capita,2019,Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,ARG,1.15,115.00,3.95,3.85,NaN,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,AUS,0.52,284.86,15.60,15.32,15.32,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,AUT,0.19,95.99,7.29,6.96,7.07,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,BGD,0.56,10.37,0.49,0.51,NaN,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,BRA,0.46,40.21,2.06,1.94,NaN,BRA
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,BFA,NaN,NaN,NaN,NaN,NaN,NaN
6,Canada,21.67,55.99,NaN,2175715.83,1.90,CAN,0.13,60.34,15.14,15.25,15.21,CAN
7,Chile,0.45,14.38,295176.56,78735.47,2.30,CHL,0.43,64.12,4.65,4.57,4.95,CHL
8,China,51.88,12.14,10399138.67,496972.44,1.26,CHN,0.33,32.53,6.67,6.84,NaN,CHN
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,COL,0.41,26.58,1.42,1.47,NaN,COL
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,CUB,NaN,NaN,2.21,2.15,NaN,CUB
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,DNK,0.07,41.00,5.54,5.53,4.94,DNK
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,DOM,NaN,NaN,2.04,2.18,NaN,DOM
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,FIN,0.55,267.73,7.70,7.93,7.52,FIN
16,France,40.01,35.56,982030.21,81304.17,0.04,FRA,0.35,145.22,4.62,4.51,4.35,FRA
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,DEU,0.12,57.55,8.70,8.40,7.93,DEU
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,GHA,0.22,4.85,0.45,0.49,NaN,GHA
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,HND,NaN,NaN,0.88,0.95,NaN,HND
20,India,0.82,5.10,NaN,121154.44,2.01,IND,0.94,19.46,1.64,1.71,NaN,IND
21,Iraq,0.00,0.00,5072.00,0.06,39.80,IRQ,3.17,189.04,3.71,3.99,NaN,IRQ
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,IRL,0.15,122.73,7.43,7.26,6.78,IRL
23,Israel,0.62,28.57,21619.67,54.36,0.09,ISR,0.30,138.18,7.31,6.71,7.01,ISR
24,Italy,0.90,1.53,907225.69,59704.92,0.09,ITA,0.48,159.23,5.31,5.25,5.01,ITA
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,JAM,NaN,NaN,2.34,2.79,NaN,JAM
26,Japan,23.67,12.28,NaN,51380.58,0.09,JPN,0.04,15.30,8.88,8.55,8.45,JPN
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,KEN,NaN,NaN,0.33,0.31,NaN,KEN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,MUS,NaN,NaN,3.30,3.27,NaN,MUS
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,MEX,1.44,143.66,3.62,3.60,3.62,MEX
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,NLD,0.04,22.88,9.08,8.76,8.23,NLD
31,Norway,4.42,53.51,498092.34,64784.06,6.98,NOR,0.21,158.43,6.74,6.78,4.87,NOR
32,Pakistan,0.13,4.63,NaN,81.24,1.16,PAK,0.75,8.78,0.88,0.92,NaN,PAK
33,Panama,0.18,50.00,37770.62,33993.59,0.08,PAN,NaN,NaN,2.29,2.22,NaN,PAN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,PER,NaN,NaN,1.58,1.56,NaN,PER
35,Philippines,0.00,0.00,NaN,64038.61,0.68,PHL,NaN,NaN,1.20,1.24,NaN,PHL
36,Poland,5.24,30.77,333519.04,76720.94,0.69,POL,0.35,54.97,7.96,7.96,7.63,POL
37,Senegal,0.10,18.87,55323.98,277.64,1.29,SEN,NaN,NaN,0.50,0.51,NaN,SEN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,KOR,0.08,27.23,11.68,11.74,11.31,KOR
39,Spain,51.19,23.30,617684.99,71021.86,0.05,ESP,0.14,40.35,5.46,5.33,4.88,ESP
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,SWE,0.32,169.29,3.66,3.39,3.16,SWE
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,CHE,0.35,300.56,4.36,4.20,4.23,CHE
42,Thailand,0.00,0.00,NaN,129794.03,1.63,THA,0.10,7.75,3.52,3.47,NaN,THA
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,TUR,0.63,57.24,4.71,4.60,4.51,TUR
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,GBR,0.54,228.02,5.45,5.30,5.08,GBR
45,United States,9.90,8.06,NaN,2109918.28,0.57,USA,0.04,24.94,14.63,15.03,14.49,USA
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,VNM,0.10,2.80,2.02,2.37,NaN,VNM

In [16]:
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Country Code']]
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Country Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,1.15,115.00,3.85,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,0.52,284.86,15.32,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,0.19,95.99,6.96,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,0.56,10.37,0.51,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,0.46,40.21,1.94,BRA
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,NaN,NaN,NaN,BFA
6,Canada,21.67,55.99,NaN,2175715.83,1.90,0.13,60.34,15.25,CAN
7,Chile,0.45,14.38,295176.56,78735.47,2.30,0.43,64.12,4.57,CHL
8,China,51.88,12.14,10399138.67,496972.44,1.26,0.33,32.53,6.84,CHN
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,0.41,26.58,1.47,COL
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,NaN,NaN,2.15,CUB
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,0.07,41.00,5.53,DNK
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,NaN,NaN,2.18,DOM
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,0.55,267.73,7.93,FIN
16,France,40.01,35.56,982030.21,81304.17,0.04,0.35,145.22,4.51,FRA
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,0.12,57.55,8.40,DEU
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,0.22,4.85,0.49,GHA
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,NaN,NaN,0.95,HND
20,India,0.82,5.10,NaN,121154.44,2.01,0.94,19.46,1.71,IND
21,Iraq,0.00,0.00,5072.00,0.06,39.80,3.17,189.04,3.99,IRQ
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,0.15,122.73,7.26,IRL
23,Israel,0.62,28.57,21619.67,54.36,0.09,0.30,138.18,6.71,ISR
24,Italy,0.90,1.53,907225.69,59704.92,0.09,0.48,159.23,5.25,ITA
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,NaN,NaN,2.79,JAM
26,Japan,23.67,12.28,NaN,51380.58,0.09,0.04,15.30,8.55,JPN
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,NaN,NaN,0.31,KEN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,NaN,NaN,3.27,MUS
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,1.44,143.66,3.60,MEX
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,0.04,22.88,8.76,NLD
31,Norway,4.42,53.51,498092.34,64784.06,6.98,0.21,158.43,6.78,NOR
32,Pakistan,0.13,4.63,NaN,81.24,1.16,0.75,8.78,0.92,PAK
33,Panama,0.18,50.00,37770.62,33993.59,0.08,NaN,NaN,2.22,PAN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,NaN,NaN,1.56,PER
35,Philippines,0.00,0.00,NaN,64038.61,0.68,NaN,NaN,1.24,PHL
36,Poland,5.24,30.77,333519.04,76720.94,0.69,0.35,54.97,7.96,POL
37,Senegal,0.10,18.87,55323.98,277.64,1.29,NaN,NaN,0.51,SEN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,0.08,27.23,11.74,KOR
39,Spain,51.19,23.30,617684.99,71021.86,0.05,0.14,40.35,5.33,ESP
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,0.32,169.29,3.39,SWE
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,0.35,300.56,4.20,CHE
42,Thailand,0.00,0.00,NaN,129794.03,1.63,0.10,7.75,3.47,THA
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,0.63,57.24,4.60,TUR
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,0.54,228.02,5.30,GBR
45,United States,9.90,8.06,NaN,2109918.28,0.57,0.04,24.94,15.03,USA
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,0.10,2.80,2.37,VNM

In [17]:
# air pollution import

df = pd.read_excel(r'C:\Users\ebloom\Desktop\AAP.xlsx', sheet_name='latest availble PM25 (measured)', header=2,
                  na_values=["0", ".."])
df = df[df['Database version (year)'] == 2018]
df = df.drop(columns={'Region', 'Annual mean, ug/m3', 'note on converted PM10', 'Temporal coverage', 'status'})
df.loc[(df.iso3=='KOR', 'Country')] = 'South Korea'
df.loc[(df.iso3=='USA', 'Country')] = 'United States'
df.loc[(df.iso3=='VNM'), 'Country'] = 'Vietnam'
df = df[['iso3', 'Country', 'City/Town', 'Annual mean, ug/m3.1']]
df

     iso3        Country           City/Town  Annual mean, ug/m3.1
1     ALB        Albania               Vrith                    13
2     AND        Andorra  Escaldes-Engordany                    10
3     AUS      Australia            Adelaide                     7
4     AUS      Australia            Brisbane                     7
5     AUS      Australia             Bunbury                     8
...   ...            ...                 ...                   ...
2583  USA  United States                York                     9
2586  USA  United States           Yuba City                     8
2587  USA  United States                Yuma                     8
2588  VNM        Vietnam              Ha Noi                    48
2589  VNM        Vietnam    Ho Chi Minh City                    42

[2119 rows x 4 columns]

In [18]:
citypop = pd.read_csv(r'C:\Users\ebloom\Desktop\Citypop.csv',
                  na_values=["0", ".."])
citypop = citypop[['Name', 'Country', 'Population']]
citypop = citypop.sort_values(by='Country', ascending=True)
citypop.reset_index(inplace=True, drop=True)
ind = citypop.groupby(['Country'])['Population'].idxmax()
biggest = citypop.loc[ind]
biggest
#find most populous cities for each country in dataset

                  Name      Country  Population
0                Kabul  Afghanistan     4335770
4               Tirana      Albania      502734
6              Algiers      Algeria     2809158
15              Luanda       Angola     8631876
24        Buenos Aires    Argentina    15257673
...                ...          ...         ...
1149           Caracas    Venezuela     2945858
1154  Ho Chi Minh City      Vietnam     8837544
1160             Sanaa        Yemen     3075257
1167            Lusaka       Zambia     2905993
1169            Harare     Zimbabwe     1541824

[145 rows x 3 columns]

In [19]:
#what needs imputing, what should be there but difference in nomenclature
df[df['Country'] == 'Australia']
#Arg not in pollution data
#biggest city Melbourne only 2016 data - needs to be imputed
df[df['Country'] == 'Austria']
df.at[72, 'City/Town'] = 'Vienna'
df[df['Country'] == 'Colombia']
#biggest city Bogota not in data at all - needs to be imputed
df[df['Country'] == 'Dominican Republic']
#DR not in pollution data
#Iraq and Honduras not in at all
df[df['Country'] == 'Ireland']
df.at[1376, 'City/Town'] = 'Dublin'
df[df['City/Town'] == 'Roma']
df.at[1626, 'City/Town'] = 'Rome'
#Kenya and MUS not in data at all
#biggest city in Pakistan not in 2018 data, Karachi only 2016 needs to be imputed
biggest[biggest['Country'] == 'Pakistan']
df[df['City/Town'] == 'Warszawa']
df.at[1907, 'City/Town'] = 'Warsaw'
df[df['City/Town'] == 'New York']
df.at[2393, 'City/Town'] = 'New York City'
#no data for Jamaica at all
df[df['Country'] == 'Jamaica']

Empty DataFrame
Columns: [iso3, Country, City/Town, Annual mean, ug/m3.1]
Index: []

In [20]:
pop = biggest.merge(df, how='left', left_on='Name', right_on='City/Town')
pop = pop.dropna(subset={'Annual mean, ug/m3.1'})
pop
#pollution in the world's biggest cities

,Name,Country_x,Population,iso3,Country_y,City/Town,"Annual mean, ug/m3.1"
7,Vienna,Austria,1944910,AUT,Austria,Vienna,14.0
9,Manama,Bahrain,663893,BHR,Bahrain,Manama,63.0
10,Dhaka,Bangladesh,21741090,BGD,Bangladesh,Dhaka,57.0
15,Sao Paulo,Brazil,22237472,BRA,Brazil,Sao Paulo,17.0
16,Sofia,Bulgaria,1284311,BGR,Bulgaria,Sofia,25.0
21,Toronto,Canada,6254571,CAN,Canada,Toronto,9.0
24,Santiago,Chile,6811595,CHL,Chile,Santiago,29.0
25,Shanghai,China,27795702,CHN,China,Shanghai,45.0
27,San Jose,Costa Rica,1420533,USA,United States,San Jose,9.0
28,Zagreb,Croatia,684524,HRV,Croatia,Zagreb,21.0
30,Prague,Czech Republic,1312199,CZE,Czechia,Prague,17.0
32,Copenhagen,Denmark,1358608,DNK,Denmark,Copenhagen,12.0
37,San Salvador,El Salvador,1107305,SLV,El Salvador,San Salvador,27.0
40,Helsinki,Finland,1316757,FIN,Finland,Helsinki,7.0
41,Paris,France,11078546,FRA,France,Paris,16.0
43,Tbilisi,Georgia,1078846,GEO,Georgia,Tbilisi,21.0
44,Berlin,Germany,3566791,DEU,Germany,Berlin,16.0
46,Athens,Greece,3153255,GRC,Greece,Athens,20.0
47,Guatemala City,Guatemala,2983174,GTM,Guatemala,Guatemala City,35.0
52,Hong Kong,Hong Kong,7598189,CHN,China,Hong Kong,23.0
53,Budapest,Hungary,1771865,HUN,Hungary,Budapest,21.0
54,Delhi,India,31181376,IND,India,Delhi,143.0
55,Jakarta,Indonesia,10915364,IDN,Indonesia,Jakarta,45.0
56,Tehran,Iran,9259009,IRN,Iran (Islamic Republic of),Tehran,28.0
58,Dublin,Ireland,1241953,IRL,Ireland,Dublin,9.0
59,Tel Aviv,Israel,4263745,ISR,Israel,Tel Aviv,24.0
60,Rome,Italy,4278350,ITA,Italy,Rome,15.0
62,Kingston,Jamaica,592477,CAN,Canada,Kingston,6.0
63,Tokyo,Japan,37339804,JPN,Japan,Tokyo,17.0
70,Riga,Latvia,627763,LVA,Latvia,Riga,15.0
74,Vilnius,Lithuania,539978,LTU,Lithuania,Vilnius,20.0
81,Mexico City,Mexico,21918936,MEX,Mexico,Mexico City,22.0
82,Ulaanbaatar,Mongolia,1615094,MNG,Mongolia,Ulaanbaatar,92.0
87,Amsterdam,Netherlands,1157519,NLD,Netherlands,Amsterdam,13.0
93,Skopje,North Macedonia,600708,MKD,The former Yugoslav Republic of Macedonia,Skopje,40.0
94,Oslo,Norway,1056180,NOR,Norway,Oslo,9.0
100,Lima,Peru,10882757,PER,Peru,Lima,39.0
101,Manila,Philippines,14158573,PHL,Philippines,Manila,29.0
102,Warsaw,Poland,1789620,POL,Poland,Warsaw,22.0
108,Moscow,Russia,12593252,RUS,Russian Federation,Moscow,14.0
110,Riyadh,Saudi Arabia,7387817,SAU,Saudi Arabia,Riyadh,73.0
111,Dakar,Senegal,3229800,SEN,Senegal,Dakar,21.0
112,Belgrade,Serbia,1401786,SRB,Serbia,Belgrade,23.0
117,Seoul,South Korea,9967677,KOR,South Korea,Seoul,26.0
118,Madrid,Spain,6668865,ESP,Spain,Madrid,10.0
121,Stockholm,Sweden,1656571,SWE,Sweden,Stockholm,5.0
122,Zurich,Switzerland,1407572,CHE,Switzerland,Zurich,10.0
127,Bangkok,Thailand,10722815,THA,Thailand,Bangkok,28.0
131,Istanbul,Turkey,15415197,TUR,Turkey,Istanbul,15.0
136,London,United Kingdom,9425622,CAN,Canada,London,8.0
137,London,United Kingdom,9425622,GBR,United Kingdom,London,12.0
138,New York City,United States,8230290,USA,United States,New York City,7.0
142,Ho Chi Minh City,Vietnam,8837544,VNM,Vietnam,Ho Chi Minh City,42.0

In [21]:
import numpy as np
#Havana, Dublin, New York City
#Kingston, Jamaica should not match Kingston Canada, should be NA
GROmerge = GROmerge.merge(pop, how='left', left_on='Country', right_on='Country_x')
GROmerge = GROmerge.drop([5, 10, 13, 14, 44, 47])
GROmerge.reset_index(drop=True, inplace=True)
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Annual mean, ug/m3.1', 'Country Code']]
GROmerge.at[21, 'Annual mean, ug/m3.1'] = np.nan
GROmerge.rename(columns = {"Annual mean, ug/m3.1" : "Air pollution (annual mean ug/m3 <PM2.5)"}, inplace=True)
GROmerge
#here is where I could potentially make them into rates

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean <PM2.5),Country Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,1.15,115.00,3.85,NaN,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,0.52,284.86,15.32,NaN,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,0.19,95.99,6.96,14.0,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,0.56,10.37,0.51,57.0,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,0.46,40.21,1.94,17.0,BRA
5,Canada,21.67,55.99,NaN,2175715.83,1.90,0.13,60.34,15.25,9.0,CAN
6,Chile,0.45,14.38,295176.56,78735.47,2.30,0.43,64.12,4.57,29.0,CHL
7,China,51.88,12.14,10399138.67,496972.44,1.26,0.33,32.53,6.84,45.0,CHN
8,Colombia,0.15,46.88,405234.43,268409.88,4.52,0.41,26.58,1.47,NaN,COL
9,Denmark,8.24,62.00,222038.54,9180.33,0.48,0.07,41.00,5.53,12.0,DNK
10,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,NaN,NaN,2.18,NaN,DOM
11,Finland,2.79,58.00,479796.68,289910.40,0.40,0.55,267.73,7.93,7.0,FIN
12,France,40.01,35.56,982030.21,81304.17,0.04,0.35,145.22,4.51,16.0,FRA
13,Germany,47.43,47.33,1371167.94,108232.51,0.10,0.12,57.55,8.40,16.0,DEU
14,Ghana,0.00,0.00,134869.31,88256.58,7.79,0.22,4.85,0.49,NaN,GHA
15,Honduras,0.00,0.00,79822.57,81416.23,0.94,NaN,NaN,0.95,NaN,HND
16,India,0.82,5.10,NaN,121154.44,2.01,0.94,19.46,1.71,143.0,IND
17,Iraq,0.00,0.00,5072.00,0.06,39.80,3.17,189.04,3.99,NaN,IRQ
18,Ireland,0.36,6.30,51421.48,10370.41,0.02,0.15,122.73,7.26,9.0,IRL
19,Israel,0.62,28.57,21619.67,54.36,0.09,0.30,138.18,6.71,24.0,ISR
20,Italy,0.90,1.53,907225.69,59704.92,0.09,0.48,159.23,5.25,15.0,ITA
21,Jamaica,0.05,100.00,7620.43,2292.16,0.14,NaN,NaN,2.79,NaN,JAM
22,Japan,23.67,12.28,NaN,51380.58,0.09,0.04,15.30,8.55,17.0,JPN
23,Kenya,0.04,22.22,290520.21,15950.24,1.05,NaN,NaN,0.31,NaN,KEN
24,Mauritius,0.01,100.00,3177.45,NaN,0.00,NaN,NaN,3.27,NaN,MUS
25,Mexico,0.00,0.00,476628.79,327437.78,2.20,1.44,143.66,3.60,22.0,MEX
26,Netherlands,0.18,0.66,152883.32,2481.33,0.25,0.04,22.88,8.76,13.0,NLD
27,Norway,4.42,53.51,498092.34,64784.06,6.98,0.21,158.43,6.78,9.0,NOR
28,Pakistan,0.13,4.63,NaN,81.24,1.16,0.75,8.78,0.92,NaN,PAK
29,Panama,0.18,50.00,37770.62,33993.59,0.08,NaN,NaN,2.22,NaN,PAN
30,Peru,0.00,0.00,230603.80,231257.38,1.66,NaN,NaN,1.56,39.0,PER
31,Philippines,0.00,0.00,NaN,64038.61,0.68,NaN,NaN,1.24,29.0,PHL
32,Poland,5.24,30.77,333519.04,76720.94,0.69,0.35,54.97,7.96,22.0,POL
33,Senegal,0.10,18.87,55323.98,277.64,1.29,NaN,NaN,0.51,21.0,SEN
34,South Korea,53.30,26.80,NaN,20731.60,0.10,0.08,27.23,11.74,26.0,KOR
35,Spain,51.19,23.30,617684.99,71021.86,0.05,0.14,40.35,5.33,10.0,ESP
36,Sweden,1.10,41.67,738914.45,332826.99,0.39,0.32,169.29,3.39,5.0,SWE
37,Switzerland,1.57,53.58,NaN,3518.71,0.01,0.35,300.56,4.20,10.0,CHE
38,Thailand,0.00,0.00,NaN,129794.03,1.63,0.10,7.75,3.47,28.0,THA
39,Turkey,2.44,100.00,489728.50,39117.94,0.31,0.63,57.24,4.60,15.0,TUR
40,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,0.54,228.02,5.30,12.0,GBR
41,United States,9.90,8.06,NaN,2109918.28,0.57,0.04,24.94,15.03,7.0,USA