In [1]:
import pandas as pd
#GRO import
GRO = pd.read_excel('https://recovery.smithschool.ox.ac.uk/wp-content/uploads/2021/05/20210524-Global-Recovery-Observatory-publicv2.xlsx', sheet_name="COVID-19 Measures",
                  na_values=[".."], usecols={'Country', 'Total Value, USD (billions)', 'Clean archetype?', 'Recovery?'})
index = GRO[GRO['Recovery?'] != 1].index
rec = GRO.drop(index, inplace=False)
rec = rec.groupby(["Country"], as_index=False).sum()
rec = rec.drop(columns=['Recovery?', 'Clean archetype?'])

index2 = GRO[GRO['Clean archetype?'] != 1].index
greenrec = GRO.drop(index2, inplace=False)
index = greenrec[greenrec['Recovery?'] != 1].index
greenrec.drop(index, inplace=True)
greenrec = greenrec.groupby(["Country"], as_index=False).sum()
greenrec = greenrec.drop(columns=['Recovery?', 'Clean archetype?'])

In [2]:
merge = greenrec.merge(rec, how='left', left_on='Country', right_on='Country')
merge['Percent'] = (merge['Total Value, USD (billions)_x'] / merge['Total Value, USD (billions)_y']) * 100
merge.rename(columns = {"Total Value, USD (billions)_x" : "Green recovery spending", "Total Value, USD (billions)_y" : "Recovery spending"}, inplace=True)
merge = merge.round({"Percent" : 2})
merge = merge[['Country', 'Green recovery spending', 'Percent']]
merge

               Country  Green recovery spending  Percent
0            Argentina                     0.00     0.00
1            Australia                     2.30     1.76
2              Austria                     0.38    23.75
3           Bangladesh                     0.55    87.30
4               Brazil                     0.28    51.85
5         Burkina Faso                     0.00      NaN
6               Canada                    21.67    55.99
7                Chile                     0.45    14.38
8                China                    51.88    12.14
9             Colombia                     0.15    46.88
10                Cuba                     0.00      NaN
11             Denmark                     8.24    62.00
12  Dominican Republic                     0.00     0.00
13                 EIB                   238.24    75.48
14      European Union                    78.71     9.92
15             Finland                     2.79    58.00
16              France                    40.01    35.56
17             Germany                    47.43    47.33
18               Ghana                     0.00     0.00
19            Honduras                     0.00     0.00
20               India                     0.82     5.10
21                Iraq                     0.00     0.00
22             Ireland                     0.36     6.30
23              Israel                     0.62    28.57
24               Italy                     0.90     1.53
25             Jamaica                     0.05   100.00
26               Japan                    23.67    12.28
27               Kenya                     0.04    22.22
28           Mauritius                     0.01   100.00
29              Mexico                     0.00     0.00
30         Netherlands                     0.18     0.66
31              Norway                     4.42    53.51
32            Pakistan                     0.13     4.63
33              Panama                     0.18    50.00
34                Peru                     0.00     0.00
35         Philippines                     0.00     0.00
36              Poland                     5.24    30.77
37             Senegal                     0.10    18.87
38         South Korea                    53.30    26.80
39               Spain                    51.19    23.30
40              Sweden                     1.10    41.67
41         Switzerland                     1.57    53.58
42            Thailand                     0.00     0.00
43              Turkey                     2.44   100.00
44      United Kingdom                    65.67    16.77
45       United States                     9.90     8.06
46             Vietnam                     0.00      NaN

In [3]:
#renewable energy consumption import
df = pd.read_excel(r'C:\Users\ebloom\Desktop\IRENA.xlsx',
                  na_values=["0", ".."])
df = df[df['Year'] == 2018]
df = df[df['Technology/source'] == 'GrandTotal']
df = df[df['Category'] == 'Final Consumption-Total']
df = df.round(2)
df.loc[df['Country']=='United States of America']
df.at[11368, 'Country'] = 'United States'
GROmerge = merge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge = GROmerge[['Country', 'Percent', 'Green recovery spending', 'TJ']]
GROmerge.rename(columns = {"TJ" : "Renewable energy consumption (TJ)"}, inplace=True)
GROmerge

,Country,Percent,Green recovery spending,Renewable energy consumption (TJ)
0,Argentina,0.00,0.00,267341.51
1,Australia,1.76,2.30,NaN
2,Austria,23.75,0.38,371003.09
3,Bangladesh,87.30,0.55,NaN
4,Brazil,51.85,0.28,3406346.36
5,Burkina Faso,NaN,0.00,NaN
6,Canada,55.99,21.67,NaN
7,Chile,14.38,0.45,295176.56
8,China,12.14,51.88,10399138.67
9,Colombia,46.88,0.15,405234.43
10,Cuba,NaN,0.00,65382.01
11,Denmark,62.00,8.24,222038.54
12,Dominican Republic,0.00,0.00,30426.70
13,EIB,75.48,238.24,NaN
14,European Union,9.92,78.71,NaN
15,Finland,58.00,2.79,479796.68
16,France,35.56,40.01,982030.21
17,Germany,47.33,47.43,1371167.94
18,Ghana,0.00,0.00,134869.31
19,Honduras,0.00,0.00,79822.57
20,India,5.10,0.82,NaN
21,Iraq,0.00,0.00,5072.00
22,Ireland,6.30,0.36,51421.48
23,Israel,28.57,0.62,21619.67
24,Italy,1.53,0.90,907225.69
25,Jamaica,100.00,0.05,7620.43
26,Japan,12.28,23.67,NaN
27,Kenya,22.22,0.04,290520.21
28,Mauritius,100.00,0.01,3177.45
29,Mexico,0.00,0.00,476628.79
30,Netherlands,0.66,0.18,152883.32
31,Norway,53.51,4.42,498092.34
32,Pakistan,4.63,0.13,NaN
33,Panama,50.00,0.18,37770.62
34,Peru,0.00,0.00,230603.80
35,Philippines,0.00,0.00,NaN
36,Poland,30.77,5.24,333519.04
37,Senegal,18.87,0.10,55323.98
38,South Korea,26.80,53.30,NaN
39,Spain,23.30,51.19,617684.99
40,Sweden,41.67,1.10,738914.45
41,Switzerland,53.58,1.57,NaN
42,Thailand,0.00,0.00,NaN
43,Turkey,100.00,2.44,489728.50
44,United Kingdom,16.77,65.67,607446.19
45,United States,8.06,9.90,6102219.78
46,Vietnam,NaN,0.00,NaN

In [4]:
import pycountry
#deforestation import
df = pd.read_csv(r'C:\Users\ebloom\Desktop\Global_Annual_Treecover_Loss.csv', usecols={"iso", "umd_tree_cover_loss__year", "umd_tree_cover_loss__ha"},
                  na_values=["0", ".."])
df.rename(columns = {"umd_tree_cover_loss__year" : "Year", "umd_tree_cover_loss__ha" : "Tree Cover Loss (ha)"}, inplace=True)
df = df.round({'Tree Cover Loss (ha)' : 2})
df = pd.pivot_table(df, values='Tree Cover Loss (ha)', index=['iso'], columns=['Year'])
df.rename(columns={2018 : '2018', 2019 : '2019'},inplace=True)
df = df[['2018', '2019']]

countries = {}
for country in pycountry.countries:
    countries[country.alpha_3] = country.name
##print(countries)
df['Country'] = [countries.get(code) for code in df.index]
df.at['VNM', 'Country'] = "Vietnam"
df.at['KOR', 'Country'] = "South Korea"
df

Year       2018       2019        Country
iso
ABW        0.30        NaN          Aruba
AFG       25.71      17.12    Afghanistan
AGO   242552.50  175098.37         Angola
AIA        0.22        NaN       Anguilla
ALA      619.71    2361.29  Åland Islands
..          ...        ...            ...
XKO      593.89     697.40           None
XNC       17.55      12.56           None
ZAF    63666.75   76139.76   South Africa
ZMB   143944.23  124640.78         Zambia
ZWE     6557.18   11553.33       Zimbabwe

[214 rows x 3 columns]

In [5]:
GROmerge = GROmerge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge.rename(columns = {"2019" : "Annual tree cover loss (ha)"}, inplace=True)
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)']]
#GROmerge = GROmerge.drop(columns={'2018'})
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha)
0,Argentina,0.00,0.00,267341.51,145444.27
1,Australia,2.30,1.76,NaN,1661547.60
2,Austria,0.38,23.75,371003.09,33642.43
3,Bangladesh,0.55,87.30,NaN,22078.76
4,Brazil,0.28,51.85,3406346.36,2696748.80
5,Burkina Faso,0.00,NaN,NaN,NaN
6,Canada,21.67,55.99,NaN,2175715.83
7,Chile,0.45,14.38,295176.56,78735.47
8,China,51.88,12.14,10399138.67,496972.44
9,Colombia,0.15,46.88,405234.43,268409.88
10,Cuba,0.00,NaN,65382.01,7463.61
11,Denmark,8.24,62.00,222038.54,9180.33
12,Dominican Republic,0.00,0.00,30426.70,14930.84
13,EIB,238.24,75.48,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40
16,France,40.01,35.56,982030.21,81304.17
17,Germany,47.43,47.33,1371167.94,108232.51
18,Ghana,0.00,0.00,134869.31,88256.58
19,Honduras,0.00,0.00,79822.57,81416.23
20,India,0.82,5.10,NaN,121154.44
21,Iraq,0.00,0.00,5072.00,0.06
22,Ireland,0.36,6.30,51421.48,10370.41
23,Israel,0.62,28.57,21619.67,54.36
24,Italy,0.90,1.53,907225.69,59704.92
25,Jamaica,0.05,100.00,7620.43,2292.16
26,Japan,23.67,12.28,NaN,51380.58
27,Kenya,0.04,22.22,290520.21,15950.24
28,Mauritius,0.01,100.00,3177.45,NaN
29,Mexico,0.00,0.00,476628.79,327437.78
30,Netherlands,0.18,0.66,152883.32,2481.33
31,Norway,4.42,53.51,498092.34,64784.06
32,Pakistan,0.13,4.63,NaN,81.24
33,Panama,0.18,50.00,37770.62,33993.59
34,Peru,0.00,0.00,230603.80,231257.38
35,Philippines,0.00,0.00,NaN,64038.61
36,Poland,5.24,30.77,333519.04,76720.94
37,Senegal,0.10,18.87,55323.98,277.64
38,South Korea,53.30,26.80,NaN,20731.60
39,Spain,51.19,23.30,617684.99,71021.86
40,Sweden,1.10,41.67,738914.45,332826.99
41,Switzerland,1.57,53.58,NaN,3518.71
42,Thailand,0.00,0.00,NaN,129794.03
43,Turkey,2.44,100.00,489728.50,39117.94
44,United Kingdom,65.67,16.77,607446.19,28376.64
45,United States,9.90,8.06,6102219.78,2109918.28
46,Vietnam,0.00,NaN,NaN,216779.40

In [6]:
#natural resource rents import

nr = pd.read_excel(r'C:\Users\ebloom\Desktop\Data_Extract_From_Adjusted_Net_Savings.xlsx',
                   usecols=["Country Name", "Country Code", "2017 [YR2017]", "2018 [YR2018]", "2019 [YR2019]"],
                  na_values=["0", ".."])
nr.rename(columns = {"2017 [YR2017]" : "2017", "2018 [YR2018]" : "2018", "2019 [YR2019]" : "2019"}, inplace=True)
nr = nr.round({'2017' : 2, '2018' : 2, '2019' : 2})
nr = nr.drop(nr.index[264:269])
nr = nr.drop(nr.index[0:47])
nr.at[152, 'Country Name'] = "South Korea"
nr

     Country Name Country Code   2017   2018   2019
47          Aruba          ABW   0.00    NaN    NaN
48    Afghanistan          AFG   0.70   0.92   0.77
49         Angola          AGO  16.45  27.43  26.19
50        Albania          ALB   1.36   1.82   1.59
51        Andorra          AND    NaN    NaN    NaN
..            ...          ...    ...    ...    ...
259        Kosovo          XKX   0.55   0.55   0.40
260   Yemen, Rep.          YEM   2.00   4.44   5.44
261  South Africa          ZAF   3.64   3.60   3.94
262        Zambia          ZMB  13.30  11.31   6.43
263      Zimbabwe          ZWE   4.84   4.36   2.50

[217 rows x 5 columns]

In [7]:
GROmerge = GROmerge.merge(nr, how='left', left_on='Country', right_on='Country Name')
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)', '2019', 'Country Code']]
GROmerge.rename(columns = {"2019" : "Natural resource rents as % GDP"}, inplace=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Country Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,BRA
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,BFA
6,Canada,21.67,55.99,NaN,2175715.83,1.90,CAN
7,Chile,0.45,14.38,295176.56,78735.47,2.30,CHL
8,China,51.88,12.14,10399138.67,496972.44,1.26,CHN
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,COL
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,CUB
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,DNK
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,DOM
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,FIN
16,France,40.01,35.56,982030.21,81304.17,0.04,FRA
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,DEU
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,GHA
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,HND
20,India,0.82,5.10,NaN,121154.44,2.01,IND
21,Iraq,0.00,0.00,5072.00,0.06,39.80,IRQ
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,IRL
23,Israel,0.62,28.57,21619.67,54.36,0.09,ISR
24,Italy,0.90,1.53,907225.69,59704.92,0.09,ITA
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,JAM
26,Japan,23.67,12.28,NaN,51380.58,0.09,JPN
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,KEN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,MUS
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,MEX
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,NLD
31,Norway,4.42,53.51,498092.34,64784.06,6.98,NOR
32,Pakistan,0.13,4.63,NaN,81.24,1.16,PAK
33,Panama,0.18,50.00,37770.62,33993.59,0.08,PAN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,PER
35,Philippines,0.00,0.00,NaN,64038.61,0.68,PHL
36,Poland,5.24,30.77,333519.04,76720.94,0.69,POL
37,Senegal,0.10,18.87,55323.98,277.64,1.29,SEN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,KOR
39,Spain,51.19,23.30,617684.99,71021.86,0.05,ESP
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,SWE
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,CHE
42,Thailand,0.00,0.00,NaN,129794.03,1.63,THA
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,TUR
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,GBR
45,United States,9.90,8.06,6102219.78,2109918.28,0.57,USA
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,VNM

In [8]:
#fossil fuel subs import
df = pd.read_excel(r'C:\Users\ebloom\Desktop\FossilFuelSubsidiesTracker.xlsx', sheet_name='fulldata',
                  na_values=["0.00", ".."])
df = df[df['Year'] == 2019]
df = df.groupby(['Country']).sum()
df = df.drop(columns={'Year'})
df['% share of GDP'] = df['% share of GDP'] * 100
df = df.round(2)
df = df.reset_index()
df

           Country  % share of GDP  USD nominal per Capita
0          Algeria            7.72                  304.63
1           Angola            1.13                   33.55
2        Argentina            1.15                  115.00
3          Armenia            0.03                    1.60
4        Australia            0.52                  284.86
..             ...             ...                     ...
76  United Kingdom            0.54                  228.02
77   United States            0.04                   24.94
78      Uzbekistan            7.63                  134.07
79       Venezuela            0.00                  448.04
80        Viet Nam            0.10                    2.80

[81 rows x 3 columns]

In [9]:
df[df['Country'] == 'Korea']
df.at[42, 'Country'] = "South Korea"
df[df['Country'] == 'Viet Nam']
df.at[80, 'Country'] = "Vietnam"
df[df['Country'] == "People's Republic of China"]
df.at[57, 'Country'] = "China"

In [10]:
GROmerge = GROmerge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge.rename(columns = {"% share of GDP" : "Fossil fuel subsidies as % GDP", "USD nominal per Capita": "Fossil fuel subsidies USD per Capita"}, inplace=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Country Code,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,ARG,1.15,115.00
1,Australia,2.30,1.76,NaN,1661547.60,5.36,AUS,0.52,284.86
2,Austria,0.38,23.75,371003.09,33642.43,0.13,AUT,0.19,95.99
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,BGD,0.56,10.37
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,BRA,0.46,40.21
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,BFA,NaN,NaN
6,Canada,21.67,55.99,NaN,2175715.83,1.90,CAN,0.13,60.34
7,Chile,0.45,14.38,295176.56,78735.47,2.30,CHL,0.43,64.12
8,China,51.88,12.14,10399138.67,496972.44,1.26,CHN,0.33,32.53
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,COL,0.41,26.58
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,CUB,NaN,NaN
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,DNK,0.07,41.00
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,DOM,NaN,NaN
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,FIN,0.55,267.73
16,France,40.01,35.56,982030.21,81304.17,0.04,FRA,0.35,145.22
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,DEU,0.12,57.55
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,GHA,0.22,4.85
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,HND,NaN,NaN
20,India,0.82,5.10,NaN,121154.44,2.01,IND,0.94,19.46
21,Iraq,0.00,0.00,5072.00,0.06,39.80,IRQ,3.17,189.04
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,IRL,0.15,122.73
23,Israel,0.62,28.57,21619.67,54.36,0.09,ISR,0.30,138.18
24,Italy,0.90,1.53,907225.69,59704.92,0.09,ITA,0.48,159.23
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,JAM,NaN,NaN
26,Japan,23.67,12.28,NaN,51380.58,0.09,JPN,0.04,15.30
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,KEN,NaN,NaN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,MUS,NaN,NaN
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,MEX,1.44,143.66
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,NLD,0.04,22.88
31,Norway,4.42,53.51,498092.34,64784.06,6.98,NOR,0.21,158.43
32,Pakistan,0.13,4.63,NaN,81.24,1.16,PAK,0.75,8.78
33,Panama,0.18,50.00,37770.62,33993.59,0.08,PAN,NaN,NaN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,PER,NaN,NaN
35,Philippines,0.00,0.00,NaN,64038.61,0.68,PHL,NaN,NaN
36,Poland,5.24,30.77,333519.04,76720.94,0.69,POL,0.35,54.97
37,Senegal,0.10,18.87,55323.98,277.64,1.29,SEN,NaN,NaN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,KOR,0.08,27.23
39,Spain,51.19,23.30,617684.99,71021.86,0.05,ESP,0.14,40.35
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,SWE,0.32,169.29
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,CHE,0.35,300.56
42,Thailand,0.00,0.00,NaN,129794.03,1.63,THA,0.10,7.75
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,TUR,0.63,57.24
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,GBR,0.54,228.02
45,United States,9.90,8.06,6102219.78,2109918.28,0.57,USA,0.04,24.94
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,VNM,0.10,2.80

In [11]:
#CO2 data import

df = pd.read_excel('https://iea.blob.core.windows.net/assets/6296011e-4fed-40c3-95a0-1367a4c4484a/CO2Highlights2020.xls',
                   'CO2-POP', header=21, usecols=[0, 47, 48, 49], na_values='..')
df.columns = df.columns.astype(str)
df = df.round({'2017' : 2, '2018' : 2, '2019' : 2})
df = df[df['Region/Country/Economy'].str.contains('OECD')==False]
df = df.drop(df.index[169:172])
df = df.sort_values('Region/Country/Economy', ascending=True)
df.reset_index(drop=True, inplace=True)
df

    Region/Country/Economy  2017  2018  2019
0                   Africa  0.97  0.98   NaN
1                   Africa  0.97  0.98   NaN
2                  Albania  1.51  1.50   NaN
3                  Algeria  3.15  3.25   NaN
4                 Americas  6.93  7.02   NaN
..                     ...   ...   ...   ...
158              Venezuela  4.20  3.90   NaN
159               Viet Nam  2.02  2.37   NaN
160                  Yemen  0.31  0.28   NaN
161                 Zambia  0.35  0.39   NaN
162               Zimbabwe  0.68  0.81   NaN

[163 rows x 4 columns]

In [12]:
countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3
df['Code'] = [countries.get(country) for country in df['Region/Country/Economy']]
df

    Region/Country/Economy  2017  2018  2019  Code
0                   Africa  0.97  0.98   NaN  None
1                   Africa  0.97  0.98   NaN  None
2                  Albania  1.51  1.50   NaN   ALB
3                  Algeria  3.15  3.25   NaN   DZA
4                 Americas  6.93  7.02   NaN  None
..                     ...   ...   ...   ...   ...
158              Venezuela  4.20  3.90   NaN  None
159               Viet Nam  2.02  2.37   NaN   VNM
160                  Yemen  0.31  0.28   NaN   YEM
161                 Zambia  0.35  0.39   NaN   ZMB
162               Zimbabwe  0.68  0.81   NaN   ZWE

[163 rows x 5 columns]

In [13]:
df.at[18, 'Code'] = 'BOL'
df.at[29, 'Code'] = 'TWN'
df.at[37, 'Code'] = 'CZE'
df.at[40, 'Code'] = 'COD'
df.at[76, 'Code'] = 'IRN'
df.at[84, 'Code'] = 'KOR'
df.at[119, 'Code'] = 'CHN'
df.at[125, 'Code'] = 'MDA'
df.at[133, 'Code'] = 'SVK'
df.at[143, 'Code'] = 'SYR'
df.at[154, 'Code'] = 'TZA'
df.at[158, 'Code'] = 'VEN'

In [14]:
df = df.dropna(subset=['Code'])
df = df.rename(columns={'Region/Country/Economy' : 'Country'})
df.at[84, 'Country'] = 'South Korea'
df.at[119, 'Country'] = 'China'
df.at[159, 'Country'] = 'Vietnam'
df

       Country  2017  2018  2019 Code
2      Albania  1.51  1.50   NaN  ALB
3      Algeria  3.15  3.25   NaN  DZA
5       Angola  0.63  0.61   NaN  AGO
6    Argentina  3.95  3.85   NaN  ARG
7      Armenia  1.75  1.83   NaN  ARM
..         ...   ...   ...   ...  ...
158  Venezuela  4.20  3.90   NaN  VEN
159    Vietnam  2.02  2.37   NaN  VNM
160      Yemen  0.31  0.28   NaN  YEM
161     Zambia  0.35  0.39   NaN  ZMB
162   Zimbabwe  0.68  0.81   NaN  ZWE

[141 rows x 5 columns]

In [15]:
GROmerge = GROmerge.merge(df, how='left', left_on='Country', right_on='Country')
GROmerge.rename(columns = {"2018" : "CO2 emissions tons per capita"}, inplace=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Country Code,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,2017,CO2 emissions tons per capita,2019,Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,ARG,1.15,115.00,3.95,3.85,NaN,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,AUS,0.52,284.86,15.60,15.32,15.32,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,AUT,0.19,95.99,7.29,6.96,7.07,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,BGD,0.56,10.37,0.49,0.51,NaN,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,BRA,0.46,40.21,2.06,1.94,NaN,BRA
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,BFA,NaN,NaN,NaN,NaN,NaN,NaN
6,Canada,21.67,55.99,NaN,2175715.83,1.90,CAN,0.13,60.34,15.14,15.25,15.21,CAN
7,Chile,0.45,14.38,295176.56,78735.47,2.30,CHL,0.43,64.12,4.65,4.57,4.95,CHL
8,China,51.88,12.14,10399138.67,496972.44,1.26,CHN,0.33,32.53,6.67,6.84,NaN,CHN
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,COL,0.41,26.58,1.42,1.47,NaN,COL
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,CUB,NaN,NaN,2.21,2.15,NaN,CUB
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,DNK,0.07,41.00,5.54,5.53,4.94,DNK
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,DOM,NaN,NaN,2.04,2.18,NaN,DOM
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,FIN,0.55,267.73,7.70,7.93,7.52,FIN
16,France,40.01,35.56,982030.21,81304.17,0.04,FRA,0.35,145.22,4.62,4.51,4.35,FRA
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,DEU,0.12,57.55,8.70,8.40,7.93,DEU
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,GHA,0.22,4.85,0.45,0.49,NaN,GHA
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,HND,NaN,NaN,0.88,0.95,NaN,HND
20,India,0.82,5.10,NaN,121154.44,2.01,IND,0.94,19.46,1.64,1.71,NaN,IND
21,Iraq,0.00,0.00,5072.00,0.06,39.80,IRQ,3.17,189.04,3.71,3.99,NaN,IRQ
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,IRL,0.15,122.73,7.43,7.26,6.78,IRL
23,Israel,0.62,28.57,21619.67,54.36,0.09,ISR,0.30,138.18,7.31,6.71,7.01,ISR
24,Italy,0.90,1.53,907225.69,59704.92,0.09,ITA,0.48,159.23,5.31,5.25,5.01,ITA
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,JAM,NaN,NaN,2.34,2.79,NaN,JAM
26,Japan,23.67,12.28,NaN,51380.58,0.09,JPN,0.04,15.30,8.88,8.55,8.45,JPN
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,KEN,NaN,NaN,0.33,0.31,NaN,KEN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,MUS,NaN,NaN,3.30,3.27,NaN,MUS
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,MEX,1.44,143.66,3.62,3.60,3.62,MEX
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,NLD,0.04,22.88,9.08,8.76,8.23,NLD
31,Norway,4.42,53.51,498092.34,64784.06,6.98,NOR,0.21,158.43,6.74,6.78,4.87,NOR
32,Pakistan,0.13,4.63,NaN,81.24,1.16,PAK,0.75,8.78,0.88,0.92,NaN,PAK
33,Panama,0.18,50.00,37770.62,33993.59,0.08,PAN,NaN,NaN,2.29,2.22,NaN,PAN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,PER,NaN,NaN,1.58,1.56,NaN,PER
35,Philippines,0.00,0.00,NaN,64038.61,0.68,PHL,NaN,NaN,1.20,1.24,NaN,PHL
36,Poland,5.24,30.77,333519.04,76720.94,0.69,POL,0.35,54.97,7.96,7.96,7.63,POL
37,Senegal,0.10,18.87,55323.98,277.64,1.29,SEN,NaN,NaN,0.50,0.51,NaN,SEN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,KOR,0.08,27.23,11.68,11.74,11.31,KOR
39,Spain,51.19,23.30,617684.99,71021.86,0.05,ESP,0.14,40.35,5.46,5.33,4.88,ESP
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,SWE,0.32,169.29,3.66,3.39,3.16,SWE
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,CHE,0.35,300.56,4.36,4.20,4.23,CHE
42,Thailand,0.00,0.00,NaN,129794.03,1.63,THA,0.10,7.75,3.52,3.47,NaN,THA
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,TUR,0.63,57.24,4.71,4.60,4.51,TUR
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,GBR,0.54,228.02,5.45,5.30,5.08,GBR
45,United States,9.90,8.06,6102219.78,2109918.28,0.57,USA,0.04,24.94,14.63,15.03,14.49,USA
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,VNM,0.10,2.80,2.02,2.37,NaN,VNM

In [16]:
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Country Code']]
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Country Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,1.15,115.00,3.85,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,0.52,284.86,15.32,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,0.19,95.99,6.96,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,0.56,10.37,0.51,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,0.46,40.21,1.94,BRA
5,Burkina Faso,0.00,NaN,NaN,NaN,4.19,NaN,NaN,NaN,BFA
6,Canada,21.67,55.99,NaN,2175715.83,1.90,0.13,60.34,15.25,CAN
7,Chile,0.45,14.38,295176.56,78735.47,2.30,0.43,64.12,4.57,CHL
8,China,51.88,12.14,10399138.67,496972.44,1.26,0.33,32.53,6.84,CHN
9,Colombia,0.15,46.88,405234.43,268409.88,4.52,0.41,26.58,1.47,COL
10,Cuba,0.00,NaN,65382.01,7463.61,NaN,NaN,NaN,2.15,CUB
11,Denmark,8.24,62.00,222038.54,9180.33,0.48,0.07,41.00,5.53,DNK
12,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,NaN,NaN,2.18,DOM
13,EIB,238.24,75.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,European Union,78.71,9.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Finland,2.79,58.00,479796.68,289910.40,0.40,0.55,267.73,7.93,FIN
16,France,40.01,35.56,982030.21,81304.17,0.04,0.35,145.22,4.51,FRA
17,Germany,47.43,47.33,1371167.94,108232.51,0.10,0.12,57.55,8.40,DEU
18,Ghana,0.00,0.00,134869.31,88256.58,7.79,0.22,4.85,0.49,GHA
19,Honduras,0.00,0.00,79822.57,81416.23,0.94,NaN,NaN,0.95,HND
20,India,0.82,5.10,NaN,121154.44,2.01,0.94,19.46,1.71,IND
21,Iraq,0.00,0.00,5072.00,0.06,39.80,3.17,189.04,3.99,IRQ
22,Ireland,0.36,6.30,51421.48,10370.41,0.02,0.15,122.73,7.26,IRL
23,Israel,0.62,28.57,21619.67,54.36,0.09,0.30,138.18,6.71,ISR
24,Italy,0.90,1.53,907225.69,59704.92,0.09,0.48,159.23,5.25,ITA
25,Jamaica,0.05,100.00,7620.43,2292.16,0.14,NaN,NaN,2.79,JAM
26,Japan,23.67,12.28,NaN,51380.58,0.09,0.04,15.30,8.55,JPN
27,Kenya,0.04,22.22,290520.21,15950.24,1.05,NaN,NaN,0.31,KEN
28,Mauritius,0.01,100.00,3177.45,NaN,0.00,NaN,NaN,3.27,MUS
29,Mexico,0.00,0.00,476628.79,327437.78,2.20,1.44,143.66,3.60,MEX
30,Netherlands,0.18,0.66,152883.32,2481.33,0.25,0.04,22.88,8.76,NLD
31,Norway,4.42,53.51,498092.34,64784.06,6.98,0.21,158.43,6.78,NOR
32,Pakistan,0.13,4.63,NaN,81.24,1.16,0.75,8.78,0.92,PAK
33,Panama,0.18,50.00,37770.62,33993.59,0.08,NaN,NaN,2.22,PAN
34,Peru,0.00,0.00,230603.80,231257.38,1.66,NaN,NaN,1.56,PER
35,Philippines,0.00,0.00,NaN,64038.61,0.68,NaN,NaN,1.24,PHL
36,Poland,5.24,30.77,333519.04,76720.94,0.69,0.35,54.97,7.96,POL
37,Senegal,0.10,18.87,55323.98,277.64,1.29,NaN,NaN,0.51,SEN
38,South Korea,53.30,26.80,NaN,20731.60,0.10,0.08,27.23,11.74,KOR
39,Spain,51.19,23.30,617684.99,71021.86,0.05,0.14,40.35,5.33,ESP
40,Sweden,1.10,41.67,738914.45,332826.99,0.39,0.32,169.29,3.39,SWE
41,Switzerland,1.57,53.58,NaN,3518.71,0.01,0.35,300.56,4.20,CHE
42,Thailand,0.00,0.00,NaN,129794.03,1.63,0.10,7.75,3.47,THA
43,Turkey,2.44,100.00,489728.50,39117.94,0.31,0.63,57.24,4.60,TUR
44,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,0.54,228.02,5.30,GBR
45,United States,9.90,8.06,6102219.78,2109918.28,0.57,0.04,24.94,15.03,USA
46,Vietnam,0.00,NaN,NaN,216779.40,3.37,0.10,2.80,2.37,VNM

In [17]:
# air pollution import

df = pd.read_excel(r'C:\Users\ebloom\Desktop\AAP.xlsx', sheet_name='latest availble PM25 (measured)', header=2,
                  na_values=["0", ".."])
df = df[df['Database version (year)'] == 2018]
df = df.drop(columns={'Region', 'Annual mean, ug/m3', 'note on converted PM10', 'Temporal coverage', 'status'})
df.loc[(df.iso3=='KOR', 'Country')] = 'South Korea'
df.loc[(df.iso3=='USA', 'Country')] = 'United States'
df.loc[(df.iso3=='VNM'), 'Country'] = 'Vietnam'
df = df[['iso3', 'Country', 'City/Town', 'Annual mean, ug/m3.1']]
df

     iso3        Country           City/Town  Annual mean, ug/m3.1
1     ALB        Albania               Vrith                    13
2     AND        Andorra  Escaldes-Engordany                    10
3     AUS      Australia            Adelaide                     7
4     AUS      Australia            Brisbane                     7
5     AUS      Australia             Bunbury                     8
...   ...            ...                 ...                   ...
2583  USA  United States                York                     9
2586  USA  United States           Yuba City                     8
2587  USA  United States                Yuma                     8
2588  VNM        Vietnam              Ha Noi                    48
2589  VNM        Vietnam    Ho Chi Minh City                    42

[2119 rows x 4 columns]

In [18]:
citypop = pd.read_csv(r'C:\Users\ebloom\Desktop\Citypop.csv',
                  na_values=["0", ".."])
citypop = citypop[['Name', 'Country', 'Population']]
citypop = citypop.sort_values(by='Country', ascending=True)
citypop.reset_index(inplace=True, drop=True)
ind = citypop.groupby(['Country'])['Population'].idxmax()
biggest = citypop.loc[ind]
biggest
#find most populous cities for each country in dataset

                  Name      Country  Population
0                Kabul  Afghanistan     4335770
4               Tirana      Albania      502734
6              Algiers      Algeria     2809158
15              Luanda       Angola     8631876
24        Buenos Aires    Argentina    15257673
...                ...          ...         ...
1149           Caracas    Venezuela     2945858
1154  Ho Chi Minh City      Vietnam     8837544
1160             Sanaa        Yemen     3075257
1167            Lusaka       Zambia     2905993
1169            Harare     Zimbabwe     1541824

[145 rows x 3 columns]

In [19]:
#what needs imputing, what should be there but difference in nomenclature
df[df['Country'] == 'Australia']
#Arg not in pollution data
#biggest city Melbourne only 2016 data - needs to be imputed
df[df['Country'] == 'Austria']
df.at[72, 'City/Town'] = 'Vienna'
df[df['Country'] == 'Colombia']
#biggest city Bogota not in data at all - needs to be imputed
df[df['Country'] == 'Dominican Republic']
#DR not in pollution data
#Iraq and Honduras not in at all
df[df['Country'] == 'Ireland']
df.at[1376, 'City/Town'] = 'Dublin'
df[df['City/Town'] == 'Roma']
df.at[1626, 'City/Town'] = 'Rome'
#Kenya and MUS not in data at all
#biggest city in Pakistan not in 2018 data, Karachi only 2016 needs to be imputed
biggest[biggest['Country'] == 'Pakistan']
df[df['City/Town'] == 'Warszawa']
df.at[1907, 'City/Town'] = 'Warsaw'
df[df['City/Town'] == 'New York']
df.at[2393, 'City/Town'] = 'New York City'
#no data for Jamaica at all
df[df['Country'] == 'Jamaica']

Empty DataFrame
Columns: [iso3, Country, City/Town, Annual mean, ug/m3.1]
Index: []

In [20]:
pop = biggest.merge(df, how='left', left_on='Name', right_on='City/Town')
pop = pop.dropna(subset={'Annual mean, ug/m3.1'})
pop
#pollution in the world's biggest cities

,Name,Country_x,Population,iso3,Country_y,City/Town,"Annual mean, ug/m3.1"
7,Vienna,Austria,1944910,AUT,Austria,Vienna,14.0
9,Manama,Bahrain,663893,BHR,Bahrain,Manama,63.0
10,Dhaka,Bangladesh,21741090,BGD,Bangladesh,Dhaka,57.0
15,Sao Paulo,Brazil,22237472,BRA,Brazil,Sao Paulo,17.0
16,Sofia,Bulgaria,1284311,BGR,Bulgaria,Sofia,25.0
21,Toronto,Canada,6254571,CAN,Canada,Toronto,9.0
24,Santiago,Chile,6811595,CHL,Chile,Santiago,29.0
25,Shanghai,China,27795702,CHN,China,Shanghai,45.0
27,San Jose,Costa Rica,1420533,USA,United States,San Jose,9.0
28,Zagreb,Croatia,684524,HRV,Croatia,Zagreb,21.0
30,Prague,Czech Republic,1312199,CZE,Czechia,Prague,17.0
32,Copenhagen,Denmark,1358608,DNK,Denmark,Copenhagen,12.0
37,San Salvador,El Salvador,1107305,SLV,El Salvador,San Salvador,27.0
40,Helsinki,Finland,1316757,FIN,Finland,Helsinki,7.0
41,Paris,France,11078546,FRA,France,Paris,16.0
43,Tbilisi,Georgia,1078846,GEO,Georgia,Tbilisi,21.0
44,Berlin,Germany,3566791,DEU,Germany,Berlin,16.0
46,Athens,Greece,3153255,GRC,Greece,Athens,20.0
47,Guatemala City,Guatemala,2983174,GTM,Guatemala,Guatemala City,35.0
52,Hong Kong,Hong Kong,7598189,CHN,China,Hong Kong,23.0
53,Budapest,Hungary,1771865,HUN,Hungary,Budapest,21.0
54,Delhi,India,31181376,IND,India,Delhi,143.0
55,Jakarta,Indonesia,10915364,IDN,Indonesia,Jakarta,45.0
56,Tehran,Iran,9259009,IRN,Iran (Islamic Republic of),Tehran,28.0
58,Dublin,Ireland,1241953,IRL,Ireland,Dublin,9.0
59,Tel Aviv,Israel,4263745,ISR,Israel,Tel Aviv,24.0
60,Rome,Italy,4278350,ITA,Italy,Rome,15.0
62,Kingston,Jamaica,592477,CAN,Canada,Kingston,6.0
63,Tokyo,Japan,37339804,JPN,Japan,Tokyo,17.0
70,Riga,Latvia,627763,LVA,Latvia,Riga,15.0
74,Vilnius,Lithuania,539978,LTU,Lithuania,Vilnius,20.0
81,Mexico City,Mexico,21918936,MEX,Mexico,Mexico City,22.0
82,Ulaanbaatar,Mongolia,1615094,MNG,Mongolia,Ulaanbaatar,92.0
87,Amsterdam,Netherlands,1157519,NLD,Netherlands,Amsterdam,13.0
93,Skopje,North Macedonia,600708,MKD,The former Yugoslav Republic of Macedonia,Skopje,40.0
94,Oslo,Norway,1056180,NOR,Norway,Oslo,9.0
100,Lima,Peru,10882757,PER,Peru,Lima,39.0
101,Manila,Philippines,14158573,PHL,Philippines,Manila,29.0
102,Warsaw,Poland,1789620,POL,Poland,Warsaw,22.0
108,Moscow,Russia,12593252,RUS,Russian Federation,Moscow,14.0
110,Riyadh,Saudi Arabia,7387817,SAU,Saudi Arabia,Riyadh,73.0
111,Dakar,Senegal,3229800,SEN,Senegal,Dakar,21.0
112,Belgrade,Serbia,1401786,SRB,Serbia,Belgrade,23.0
117,Seoul,South Korea,9967677,KOR,South Korea,Seoul,26.0
118,Madrid,Spain,6668865,ESP,Spain,Madrid,10.0
121,Stockholm,Sweden,1656571,SWE,Sweden,Stockholm,5.0
122,Zurich,Switzerland,1407572,CHE,Switzerland,Zurich,10.0
127,Bangkok,Thailand,10722815,THA,Thailand,Bangkok,28.0
131,Istanbul,Turkey,15415197,TUR,Turkey,Istanbul,15.0
136,London,United Kingdom,9425622,CAN,Canada,London,8.0
137,London,United Kingdom,9425622,GBR,United Kingdom,London,12.0
138,New York City,United States,8230290,USA,United States,New York City,7.0
142,Ho Chi Minh City,Vietnam,8837544,VNM,Vietnam,Ho Chi Minh City,42.0

In [21]:
import numpy as np
#Havana, Dublin, New York City
#Kingston, Jamaica should not match Kingston Canada, should be NA
GROmerge = GROmerge.merge(pop, how='left', left_on='Country', right_on='Country_x')
GROmerge = GROmerge.drop([5, 10, 13, 14, 44, 47])
GROmerge.reset_index(drop=True, inplace=True)
GROmerge = GROmerge[['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Annual mean, ug/m3.1', 'Country Code']]
GROmerge.at[21, 'Annual mean, ug/m3.1'] = np.nan
GROmerge.rename(columns = {"Annual mean, ug/m3.1" : "Air pollution (annual mean ug/m3 <PM2.5)"}, inplace=True)
GROmerge
#here is where I could potentially make them into rates

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,1.15,115.00,3.85,NaN,ARG
1,Australia,2.30,1.76,NaN,1661547.60,5.36,0.52,284.86,15.32,NaN,AUS
2,Austria,0.38,23.75,371003.09,33642.43,0.13,0.19,95.99,6.96,14.0,AUT
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,0.56,10.37,0.51,57.0,BGD
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,0.46,40.21,1.94,17.0,BRA
5,Canada,21.67,55.99,NaN,2175715.83,1.90,0.13,60.34,15.25,9.0,CAN
6,Chile,0.45,14.38,295176.56,78735.47,2.30,0.43,64.12,4.57,29.0,CHL
7,China,51.88,12.14,10399138.67,496972.44,1.26,0.33,32.53,6.84,45.0,CHN
8,Colombia,0.15,46.88,405234.43,268409.88,4.52,0.41,26.58,1.47,NaN,COL
9,Denmark,8.24,62.00,222038.54,9180.33,0.48,0.07,41.00,5.53,12.0,DNK
10,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,NaN,NaN,2.18,NaN,DOM
11,Finland,2.79,58.00,479796.68,289910.40,0.40,0.55,267.73,7.93,7.0,FIN
12,France,40.01,35.56,982030.21,81304.17,0.04,0.35,145.22,4.51,16.0,FRA
13,Germany,47.43,47.33,1371167.94,108232.51,0.10,0.12,57.55,8.40,16.0,DEU
14,Ghana,0.00,0.00,134869.31,88256.58,7.79,0.22,4.85,0.49,NaN,GHA
15,Honduras,0.00,0.00,79822.57,81416.23,0.94,NaN,NaN,0.95,NaN,HND
16,India,0.82,5.10,NaN,121154.44,2.01,0.94,19.46,1.71,143.0,IND
17,Iraq,0.00,0.00,5072.00,0.06,39.80,3.17,189.04,3.99,NaN,IRQ
18,Ireland,0.36,6.30,51421.48,10370.41,0.02,0.15,122.73,7.26,9.0,IRL
19,Israel,0.62,28.57,21619.67,54.36,0.09,0.30,138.18,6.71,24.0,ISR
20,Italy,0.90,1.53,907225.69,59704.92,0.09,0.48,159.23,5.25,15.0,ITA
21,Jamaica,0.05,100.00,7620.43,2292.16,0.14,NaN,NaN,2.79,NaN,JAM
22,Japan,23.67,12.28,NaN,51380.58,0.09,0.04,15.30,8.55,17.0,JPN
23,Kenya,0.04,22.22,290520.21,15950.24,1.05,NaN,NaN,0.31,NaN,KEN
24,Mauritius,0.01,100.00,3177.45,NaN,0.00,NaN,NaN,3.27,NaN,MUS
25,Mexico,0.00,0.00,476628.79,327437.78,2.20,1.44,143.66,3.60,22.0,MEX
26,Netherlands,0.18,0.66,152883.32,2481.33,0.25,0.04,22.88,8.76,13.0,NLD
27,Norway,4.42,53.51,498092.34,64784.06,6.98,0.21,158.43,6.78,9.0,NOR
28,Pakistan,0.13,4.63,NaN,81.24,1.16,0.75,8.78,0.92,NaN,PAK
29,Panama,0.18,50.00,37770.62,33993.59,0.08,NaN,NaN,2.22,NaN,PAN
30,Peru,0.00,0.00,230603.80,231257.38,1.66,NaN,NaN,1.56,39.0,PER
31,Philippines,0.00,0.00,NaN,64038.61,0.68,NaN,NaN,1.24,29.0,PHL
32,Poland,5.24,30.77,333519.04,76720.94,0.69,0.35,54.97,7.96,22.0,POL
33,Senegal,0.10,18.87,55323.98,277.64,1.29,NaN,NaN,0.51,21.0,SEN
34,South Korea,53.30,26.80,NaN,20731.60,0.10,0.08,27.23,11.74,26.0,KOR
35,Spain,51.19,23.30,617684.99,71021.86,0.05,0.14,40.35,5.33,10.0,ESP
36,Sweden,1.10,41.67,738914.45,332826.99,0.39,0.32,169.29,3.39,5.0,SWE
37,Switzerland,1.57,53.58,NaN,3518.71,0.01,0.35,300.56,4.20,10.0,CHE
38,Thailand,0.00,0.00,NaN,129794.03,1.63,0.10,7.75,3.47,28.0,THA
39,Turkey,2.44,100.00,489728.50,39117.94,0.31,0.63,57.24,4.60,15.0,TUR
40,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,0.54,228.02,5.30,12.0,GBR
41,United States,9.90,8.06,6102219.78,2109918.28,0.57,0.04,24.94,15.03,7.0,USA

In [22]:
#Original row is Argentina, go through all other rows, start with Australia
#Subtract Argentina’s TJ from Australia’s
#Take absolute value
#With list of differences after gone through all columns, take average across them (careful of unit) – becomes Australia’s score
#include green recovery spending cols????
#isolate only numeric columns
diffset = GROmerge[['Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Air pollution (annual mean ug/m3 <PM2.5)']]
#set up
difference = diffset
difference = difference.drop(range(1,42))
for name, value in difference.iteritems():
    difference.at[0, name] = np.nan

#diffresult = diffset.diff(periods=1)
#difference = difference.append(diffresult[diffresult.index == 1], ignore_index=True)
n=1

for index, row in diffset.iterrows():
    diffresult = diffset.diff(periods=n)
    difference = difference.append(diffresult[diffresult.index == n], ignore_index=True)
    n = n+1
    
difference = np.absolute(difference)
#air poll for Arg Nan - does this mean the unknown columns can not factor into NN? all become NA
#normalise data with maximum absolute scaling https://www.geeksforgeeks.org/data-normalization-with-pandas/
difference_norm = difference
for column in difference_norm.columns:
    difference_norm[column] = difference_norm[column]  / difference_norm[column].abs().max()
difference_norm

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.035024,0.0176,NaN,0.594246,0.087199,0.311881,0.915391,1.000000,NaN
2,0.005787,0.2375,0.010231,0.043821,0.051418,0.475248,0.102447,0.271142,NaN
3,0.008375,0.8730,NaN,0.048354,0.042937,0.292079,0.563861,0.291194,NaN
4,0.004264,0.5185,0.309817,1.000000,0.037106,0.341584,0.403050,0.166521,NaN
5,0.329983,0.5599,NaN,0.795778,0.004506,0.504950,0.294568,0.993897,NaN
6,0.006852,0.1438,0.002747,0.026147,0.006096,0.356436,0.274197,0.062772,NaN
7,0.790011,0.1214,1.000000,0.137784,0.021468,0.405941,0.444438,0.260680,NaN
8,0.002284,0.4688,0.013610,0.048197,0.064935,0.366337,0.476504,0.207498,NaN
9,0.125476,0.6200,0.004471,0.053410,0.042142,0.534653,0.398793,0.146469,NaN
10,0.000000,0.0000,0.023383,0.051156,0.045322,NaN,NaN,0.145597,NaN
11,0.042485,0.5800,0.020969,0.056624,0.044262,0.297030,0.823076,0.355711,NaN
12,0.609258,0.3556,0.070539,0.025140,0.053803,0.396040,0.162858,0.057541,NaN
13,0.722248,0.4733,0.108947,0.014585,0.052213,0.509901,0.309603,0.396687,NaN
14,0.000000,0.0000,0.013075,0.022415,0.151603,0.460396,0.593609,0.292938,NaN
15,0.000000,0.0000,0.018508,0.025096,0.029950,NaN,NaN,0.252833,NaN
16,0.012487,0.0510,NaN,0.009521,0.001590,0.103960,0.514874,0.186574,NaN
17,0.000000,0.0000,0.025886,0.057008,1.000000,1.000000,0.399008,0.012206,NaN
18,0.005482,0.0630,0.021311,0.052943,0.054333,0.495050,0.041658,0.297297,NaN
19,0.009441,0.2857,0.024253,0.056986,0.052478,0.420792,0.124919,0.249346,NaN
20,0.013705,0.0153,0.063156,0.033606,0.052478,0.331683,0.238360,0.122058,NaN
21,0.000761,1.0000,0.025634,0.056109,0.051153,NaN,NaN,0.092415,NaN
22,0.360439,0.1228,NaN,0.036869,0.052478,0.549505,0.537293,0.409765,NaN
23,0.000609,0.2222,0.002288,0.050756,0.027034,NaN,NaN,0.308631,NaN
24,0.000152,1.0000,0.026073,NaN,0.054864,NaN,NaN,0.050567,NaN
25,0.000000,0.0000,0.020656,0.071334,0.003446,0.143564,0.154451,0.021796,NaN
26,0.002741,0.0066,0.011297,0.056035,0.048237,0.549505,0.496443,0.428073,NaN
27,0.067306,0.5351,0.022775,0.031615,0.130135,0.465347,0.234048,0.255449,NaN
28,0.001980,0.0463,NaN,0.056976,0.024119,0.198020,0.572429,0.255449,NaN
29,0.002741,0.5000,0.022658,0.043684,0.052743,NaN,NaN,0.142110,NaN
30,0.000000,0.0000,0.003626,0.033635,0.010867,NaN,NaN,0.199651,NaN
31,0.000000,0.0000,NaN,0.031907,0.036841,NaN,NaN,0.227550,NaN
32,0.079793,0.3077,0.006532,0.026937,0.036576,0.396040,0.323507,0.358326,NaN
33,0.001523,0.1887,0.020926,0.056899,0.020673,NaN,NaN,0.291194,NaN
34,0.811634,0.2680,NaN,0.048882,0.052213,0.529703,0.473001,0.687881,NaN
35,0.779504,0.2330,0.034579,0.029170,0.053538,0.500000,0.402296,0.129032,NaN
36,0.016750,0.4167,0.046544,0.073446,0.044527,0.410891,0.292574,0.040105,NaN
37,0.023907,0.5358,NaN,0.055629,0.054598,0.396040,1.000000,0.030514,NaN
38,0.000000,0.0000,NaN,0.006134,0.011662,0.519802,0.577980,0.033130,NaN
39,0.037155,1.0000,0.021949,0.041675,0.046647,0.257426,0.311274,0.065388,NaN
40,1.000000,0.1677,0.033568,0.045885,0.039226,0.301980,0.609075,0.126417,NaN
41,0.150754,0.0806,0.575898,0.769988,0.039756,0.549505,0.485342,0.974717,NaN

In [23]:
difference_norm['Score'] = difference_norm.mean(axis=1)
difference_norm
##difference_norm['Score'].min()
##difference_norm[difference_norm['Score'] == 0.04129648718215812]
##row = GROmerge[GROmerge.index == 30]
##airpoll = row.iloc[0]['Air pollution (annual mean ug/m3 <PM2.5)']
##GROmerge['Air pollution_imputed'] = np.nan
##GROmerge.at[0, 'Air pollution_imputed'] = airpoll
##GROmerge
#Peru closest to Arg
#closest to 0 is nearest neighbour

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Score
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.035024,0.0176,NaN,0.594246,0.087199,0.311881,0.915391,1.000000,NaN,0.423049
2,0.005787,0.2375,0.010231,0.043821,0.051418,0.475248,0.102447,0.271142,NaN,0.149699
3,0.008375,0.8730,NaN,0.048354,0.042937,0.292079,0.563861,0.291194,NaN,0.302829
4,0.004264,0.5185,0.309817,1.000000,0.037106,0.341584,0.403050,0.166521,NaN,0.347605
5,0.329983,0.5599,NaN,0.795778,0.004506,0.504950,0.294568,0.993897,NaN,0.497655
6,0.006852,0.1438,0.002747,0.026147,0.006096,0.356436,0.274197,0.062772,NaN,0.109881
7,0.790011,0.1214,1.000000,0.137784,0.021468,0.405941,0.444438,0.260680,NaN,0.397715
8,0.002284,0.4688,0.013610,0.048197,0.064935,0.366337,0.476504,0.207498,NaN,0.206021
9,0.125476,0.6200,0.004471,0.053410,0.042142,0.534653,0.398793,0.146469,NaN,0.240677
10,0.000000,0.0000,0.023383,0.051156,0.045322,NaN,NaN,0.145597,NaN,0.044243
11,0.042485,0.5800,0.020969,0.056624,0.044262,0.297030,0.823076,0.355711,NaN,0.277520
12,0.609258,0.3556,0.070539,0.025140,0.053803,0.396040,0.162858,0.057541,NaN,0.216348
13,0.722248,0.4733,0.108947,0.014585,0.052213,0.509901,0.309603,0.396687,NaN,0.323436
14,0.000000,0.0000,0.013075,0.022415,0.151603,0.460396,0.593609,0.292938,NaN,0.191755
15,0.000000,0.0000,0.018508,0.025096,0.029950,NaN,NaN,0.252833,NaN,0.054398
16,0.012487,0.0510,NaN,0.009521,0.001590,0.103960,0.514874,0.186574,NaN,0.125715
17,0.000000,0.0000,0.025886,0.057008,1.000000,1.000000,0.399008,0.012206,NaN,0.311763
18,0.005482,0.0630,0.021311,0.052943,0.054333,0.495050,0.041658,0.297297,NaN,0.128884
19,0.009441,0.2857,0.024253,0.056986,0.052478,0.420792,0.124919,0.249346,NaN,0.152989
20,0.013705,0.0153,0.063156,0.033606,0.052478,0.331683,0.238360,0.122058,NaN,0.108793
21,0.000761,1.0000,0.025634,0.056109,0.051153,NaN,NaN,0.092415,NaN,0.204345
22,0.360439,0.1228,NaN,0.036869,0.052478,0.549505,0.537293,0.409765,NaN,0.295593
23,0.000609,0.2222,0.002288,0.050756,0.027034,NaN,NaN,0.308631,NaN,0.101920
24,0.000152,1.0000,0.026073,NaN,0.054864,NaN,NaN,0.050567,NaN,0.226331
25,0.000000,0.0000,0.020656,0.071334,0.003446,0.143564,0.154451,0.021796,NaN,0.051906
26,0.002741,0.0066,0.011297,0.056035,0.048237,0.549505,0.496443,0.428073,NaN,0.199866
27,0.067306,0.5351,0.022775,0.031615,0.130135,0.465347,0.234048,0.255449,NaN,0.217722
28,0.001980,0.0463,NaN,0.056976,0.024119,0.198020,0.572429,0.255449,NaN,0.165039
29,0.002741,0.5000,0.022658,0.043684,0.052743,NaN,NaN,0.142110,NaN,0.127323
30,0.000000,0.0000,0.003626,0.033635,0.010867,NaN,NaN,0.199651,NaN,0.041296
31,0.000000,0.0000,NaN,0.031907,0.036841,NaN,NaN,0.227550,NaN,0.059260
32,0.079793,0.3077,0.006532,0.026937,0.036576,0.396040,0.323507,0.358326,NaN,0.191926
33,0.001523,0.1887,0.020926,0.056899,0.020673,NaN,NaN,0.291194,NaN,0.096653
34,0.811634,0.2680,NaN,0.048882,0.052213,0.529703,0.473001,0.687881,NaN,0.410188
35,0.779504,0.2330,0.034579,0.029170,0.053538,0.500000,0.402296,0.129032,NaN,0.270140
36,0.016750,0.4167,0.046544,0.073446,0.044527,0.410891,0.292574,0.040105,NaN,0.167692
37,0.023907,0.5358,NaN,0.055629,0.054598,0.396040,1.000000,0.030514,NaN,0.299498
38,0.000000,0.0000,NaN,0.006134,0.011662,0.519802,0.577980,0.033130,NaN,0.164101
39,0.037155,1.0000,0.021949,0.041675,0.046647,0.257426,0.311274,0.065388,NaN,0.222689
40,1.000000,0.1677,0.033568,0.045885,0.039226,0.301980,0.609075,0.126417,NaN,0.290481
41,0.150754,0.0806,0.575898,0.769988,0.039756,0.549505,0.485342,0.974717,NaN,0.453320

In [24]:
#again for Australia
diffset = GROmerge[['Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Air pollution (annual mean ug/m3 <PM2.5)']]
#set up
difference = diffset
difference = difference.drop(range(1,42))
for name, value in difference.iteritems():
    difference.at[0, name] = np.nan

In [25]:
n=1
m=2

for index, row in diffset.iterrows():
    diffresult = diffset.diff(periods=n)
    difference = difference.append(diffresult[diffresult.index == m], ignore_index=True)
    n = n+1
    m = m+1
difference

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.92,21.99,NaN,-1627905.17,-5.23,-0.33,-188.87,-8.36,NaN
2,-1.75,85.54,NaN,-1639468.84,-4.91,0.04,-274.49,-14.81,NaN
3,-2.02,50.09,NaN,1035201.20,-1.89,-0.06,-244.65,-13.38,NaN
4,19.37,54.23,NaN,514168.23,-3.46,-0.39,-224.52,-0.07,NaN
5,-1.85,12.62,NaN,-1582812.13,-3.06,-0.09,-220.74,-10.75,NaN
6,49.58,10.38,NaN,-1164575.16,-4.10,-0.19,-252.33,-8.48,NaN
7,-2.15,45.12,NaN,-1393137.72,-0.84,-0.11,-258.28,-13.85,NaN
8,5.94,60.24,NaN,-1652367.27,-4.88,-0.45,-243.86,-9.79,NaN
9,-2.30,-1.76,NaN,-1646616.76,-5.00,NaN,NaN,-13.14,NaN
10,0.49,56.24,NaN,-1371637.20,-4.96,0.03,-17.13,-7.39,NaN
11,37.71,33.80,NaN,-1580243.43,-5.32,-0.17,-139.64,-10.81,NaN
12,45.13,45.57,NaN,-1553315.09,-5.26,-0.40,-227.31,-6.92,NaN
13,-2.30,-1.76,NaN,-1573291.02,2.43,-0.30,-280.01,-14.83,NaN
14,-2.30,-1.76,NaN,-1580131.37,-4.42,NaN,NaN,-14.37,NaN
15,-1.48,3.34,NaN,-1540393.16,-3.35,0.42,-265.40,-13.61,NaN
16,-2.30,-1.76,NaN,-1661547.54,34.44,2.65,-95.82,-11.33,NaN
17,-1.94,4.54,NaN,-1651177.19,-5.34,-0.37,-162.13,-8.06,NaN
18,-1.68,26.81,NaN,-1661493.24,-5.27,-0.22,-146.68,-8.61,NaN
19,-1.40,-0.23,NaN,-1601842.68,-5.27,-0.04,-125.63,-10.07,NaN
20,-2.25,98.24,NaN,-1659255.44,-5.22,NaN,NaN,-12.53,NaN
21,21.37,10.52,NaN,-1610167.02,-5.27,-0.48,-269.56,-6.77,NaN
22,-2.26,20.46,NaN,-1645597.36,-4.31,NaN,NaN,-15.01,NaN
23,-2.29,98.24,NaN,NaN,-5.36,NaN,NaN,-12.05,NaN
24,-2.30,-1.76,NaN,-1334109.82,-3.16,0.92,-141.20,-11.72,NaN
25,-2.12,-1.10,NaN,-1659066.27,-5.11,-0.48,-261.98,-6.56,NaN
26,2.12,51.75,NaN,-1596763.54,1.62,-0.31,-126.43,-8.54,NaN
27,-2.17,2.87,NaN,-1661466.36,-4.20,0.23,-276.08,-14.40,NaN
28,-2.12,48.24,NaN,-1627554.01,-5.28,NaN,NaN,-13.10,NaN
29,-2.30,-1.76,NaN,-1430290.22,-3.70,NaN,NaN,-13.76,NaN
30,-2.30,-1.76,NaN,-1597508.99,-4.68,NaN,NaN,-14.08,NaN
31,2.94,29.01,NaN,-1584826.66,-4.67,-0.17,-229.89,-7.36,NaN
32,-2.20,17.11,NaN,-1661269.96,-4.07,NaN,NaN,-14.81,NaN
33,51.00,25.04,NaN,-1640816.00,-5.26,-0.44,-257.63,-3.58,NaN
34,48.89,21.54,NaN,-1590525.74,-5.31,-0.38,-244.51,-9.99,NaN
35,-1.20,39.91,NaN,-1328720.61,-4.97,-0.20,-115.57,-11.93,NaN
36,-0.73,51.82,NaN,-1658028.89,-5.35,-0.17,15.70,-11.12,NaN
37,-2.30,-1.76,NaN,-1531753.57,-3.73,-0.42,-277.11,-11.85,NaN
38,0.14,98.24,NaN,-1622429.66,-5.05,0.11,-227.62,-10.72,NaN
39,63.37,15.01,NaN,-1633170.96,-4.77,0.02,-56.84,-10.02,NaN
40,7.60,6.30,NaN,448370.68,-4.79,-0.48,-259.92,-0.29,NaN

In [26]:
difference.index = range(1,42)
diffresult = diffset.diff(periods=-1)
difference = difference.append(diffresult[diffresult.index == 0])

In [27]:
difference = np.absolute(difference)
#normalise data with maximum absolute scaling https://www.geeksforgeeks.org/data-normalization-with-pandas/
difference_norm = difference
for column in difference_norm.columns:
    difference_norm[column] = difference_norm[column]  / difference_norm[column].abs().max()
difference_norm

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.030298,0.223840,NaN,0.979752,0.151858,0.124528,0.674512,0.556962,NaN
3,0.027616,0.870725,NaN,0.986712,0.142567,0.015094,0.980286,0.986676,NaN
4,0.031876,0.509874,NaN,0.623034,0.054878,0.022642,0.873719,0.891406,NaN
5,0.305665,0.552015,NaN,0.309451,0.100465,0.147170,0.801829,0.004664,NaN
6,0.029194,0.128461,NaN,0.952613,0.088850,0.033962,0.788329,0.716189,NaN
7,0.782389,0.105660,NaN,0.700898,0.119048,0.071698,0.901146,0.564957,NaN
8,0.033928,0.459283,NaN,0.838458,0.024390,0.041509,0.922396,0.922718,NaN
9,0.093735,0.613192,NaN,0.994475,0.141696,0.169811,0.870897,0.652232,NaN
10,0.036295,0.017915,NaN,0.991014,0.145180,NaN,NaN,0.875416,NaN
11,0.007732,0.572476,NaN,0.825518,0.144019,0.011321,0.061176,0.492338,NaN
12,0.595077,0.344055,NaN,0.951067,0.154472,0.064151,0.498696,0.720187,NaN
13,0.712167,0.463864,NaN,0.934860,0.152729,0.150943,0.811792,0.461026,NaN
14,0.036295,0.017915,NaN,0.946883,0.070557,0.113208,1.000000,0.988008,NaN
15,0.036295,0.017915,NaN,0.951000,0.128339,NaN,NaN,0.957362,NaN
16,0.023355,0.033998,NaN,0.927083,0.097271,0.158491,0.947823,0.906729,NaN
17,0.036295,0.017915,NaN,1.000000,1.000000,1.000000,0.342202,0.754830,NaN
18,0.030614,0.046213,NaN,0.993759,0.155052,0.139623,0.579015,0.536975,NaN
19,0.026511,0.272903,NaN,0.999967,0.153020,0.083019,0.523838,0.573618,NaN
20,0.022092,0.002341,NaN,0.964067,0.153020,0.015094,0.448663,0.670886,NaN
21,0.035506,1.000000,NaN,0.998621,0.151568,NaN,NaN,0.834777,NaN
22,0.337226,0.107085,NaN,0.969077,0.153020,0.181132,0.962680,0.451033,NaN
23,0.035664,0.208265,NaN,0.990400,0.125145,NaN,NaN,1.000000,NaN
24,0.036137,1.000000,NaN,NaN,0.155633,NaN,NaN,0.802798,NaN
25,0.036295,0.017915,NaN,0.802932,0.091754,0.347170,0.504268,0.780813,NaN
26,0.033454,0.011197,NaN,0.998507,0.148374,0.181132,0.935609,0.437042,NaN
27,0.033454,0.526771,NaN,0.961010,0.047038,0.116981,0.451520,0.568954,NaN
28,0.034243,0.029214,NaN,0.999951,0.121951,0.086792,0.985965,0.959360,NaN
29,0.033454,0.491042,NaN,0.979541,0.153310,NaN,NaN,0.872751,NaN
30,0.036295,0.017915,NaN,0.860818,0.107433,NaN,NaN,0.916722,NaN
31,0.036295,0.017915,NaN,0.961458,0.135889,NaN,NaN,0.938041,NaN
32,0.046394,0.295297,NaN,0.953826,0.135598,0.064151,0.821006,0.490340,NaN
33,0.034717,0.174165,NaN,0.999833,0.118177,NaN,NaN,0.986676,NaN
34,0.804797,0.254886,NaN,0.987523,0.152729,0.166038,0.920074,0.238508,NaN
35,0.771501,0.219259,NaN,0.957256,0.154181,0.143396,0.873219,0.665556,NaN
36,0.018936,0.406250,NaN,0.799689,0.144309,0.075472,0.412735,0.794803,NaN
37,0.011520,0.527484,NaN,0.997882,0.155343,0.064151,0.056069,0.740839,NaN
38,0.036295,0.017915,NaN,0.921884,0.108304,0.158491,0.989643,0.789474,NaN
39,0.002209,1.000000,NaN,0.976457,0.146632,0.041509,0.812900,0.714191,NaN
40,1.000000,0.152789,NaN,0.982922,0.138502,0.007547,0.202993,0.667555,NaN
41,0.119931,0.064129,NaN,0.269851,0.139082,0.181132,0.928253,0.019320,NaN
0,0.036295,0.017915,NaN,0.912465,0.095528,0.237736,0.606621,0.764157,NaN

In [28]:
difference_norm['Score'] = difference_norm.mean(axis=1)
difference_norm['Score'].min()

0.24595686197296526

In [29]:
difference_norm[difference_norm['Score'] == 0.24595686197296526]
#note: renewable energy cons not even taken into account here

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Score
41,0.119931,0.064129,NaN,0.269851,0.139082,0.181132,0.928253,0.01932,NaN,0.245957

In [30]:
row = GROmerge[GROmerge.index == 41]
airpoll = row.iloc[0]['Air pollution (annual mean ug/m3 <PM2.5)']
renewcons = row.iloc[0]['Renewable energy consumption (TJ)']
GROmerge.at[1, 'Air pollution_imputed'] = airpoll
GROmerge['Renewable energy_imputed'] = np.nan
GROmerge.at[1, 'Renewable energy_imputed'] = renewcons
GROmerge
#USA closest to Aus
#closest to 0 is nearest neighbour

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code,Air pollution_imputed,Renewable energy_imputed
0,Argentina,0.00,0.00,267341.51,145444.27,2.07,1.15,115.00,3.85,NaN,ARG,NaN,NaN
1,Australia,2.30,1.76,NaN,1661547.60,5.36,0.52,284.86,15.32,NaN,AUS,7.0,6102219.78
2,Austria,0.38,23.75,371003.09,33642.43,0.13,0.19,95.99,6.96,14.0,AUT,NaN,NaN
3,Bangladesh,0.55,87.30,NaN,22078.76,0.45,0.56,10.37,0.51,57.0,BGD,NaN,NaN
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,0.46,40.21,1.94,17.0,BRA,NaN,NaN
5,Canada,21.67,55.99,NaN,2175715.83,1.90,0.13,60.34,15.25,9.0,CAN,NaN,NaN
6,Chile,0.45,14.38,295176.56,78735.47,2.30,0.43,64.12,4.57,29.0,CHL,NaN,NaN
7,China,51.88,12.14,10399138.67,496972.44,1.26,0.33,32.53,6.84,45.0,CHN,NaN,NaN
8,Colombia,0.15,46.88,405234.43,268409.88,4.52,0.41,26.58,1.47,NaN,COL,NaN,NaN
9,Denmark,8.24,62.00,222038.54,9180.33,0.48,0.07,41.00,5.53,12.0,DNK,NaN,NaN
10,Dominican Republic,0.00,0.00,30426.70,14930.84,0.36,NaN,NaN,2.18,NaN,DOM,NaN,NaN
11,Finland,2.79,58.00,479796.68,289910.40,0.40,0.55,267.73,7.93,7.0,FIN,NaN,NaN
12,France,40.01,35.56,982030.21,81304.17,0.04,0.35,145.22,4.51,16.0,FRA,NaN,NaN
13,Germany,47.43,47.33,1371167.94,108232.51,0.10,0.12,57.55,8.40,16.0,DEU,NaN,NaN
14,Ghana,0.00,0.00,134869.31,88256.58,7.79,0.22,4.85,0.49,NaN,GHA,NaN,NaN
15,Honduras,0.00,0.00,79822.57,81416.23,0.94,NaN,NaN,0.95,NaN,HND,NaN,NaN
16,India,0.82,5.10,NaN,121154.44,2.01,0.94,19.46,1.71,143.0,IND,NaN,NaN
17,Iraq,0.00,0.00,5072.00,0.06,39.80,3.17,189.04,3.99,NaN,IRQ,NaN,NaN
18,Ireland,0.36,6.30,51421.48,10370.41,0.02,0.15,122.73,7.26,9.0,IRL,NaN,NaN
19,Israel,0.62,28.57,21619.67,54.36,0.09,0.30,138.18,6.71,24.0,ISR,NaN,NaN
20,Italy,0.90,1.53,907225.69,59704.92,0.09,0.48,159.23,5.25,15.0,ITA,NaN,NaN
21,Jamaica,0.05,100.00,7620.43,2292.16,0.14,NaN,NaN,2.79,NaN,JAM,NaN,NaN
22,Japan,23.67,12.28,NaN,51380.58,0.09,0.04,15.30,8.55,17.0,JPN,NaN,NaN
23,Kenya,0.04,22.22,290520.21,15950.24,1.05,NaN,NaN,0.31,NaN,KEN,NaN,NaN
24,Mauritius,0.01,100.00,3177.45,NaN,0.00,NaN,NaN,3.27,NaN,MUS,NaN,NaN
25,Mexico,0.00,0.00,476628.79,327437.78,2.20,1.44,143.66,3.60,22.0,MEX,NaN,NaN
26,Netherlands,0.18,0.66,152883.32,2481.33,0.25,0.04,22.88,8.76,13.0,NLD,NaN,NaN
27,Norway,4.42,53.51,498092.34,64784.06,6.98,0.21,158.43,6.78,9.0,NOR,NaN,NaN
28,Pakistan,0.13,4.63,NaN,81.24,1.16,0.75,8.78,0.92,NaN,PAK,NaN,NaN
29,Panama,0.18,50.00,37770.62,33993.59,0.08,NaN,NaN,2.22,NaN,PAN,NaN,NaN
30,Peru,0.00,0.00,230603.80,231257.38,1.66,NaN,NaN,1.56,39.0,PER,NaN,NaN
31,Philippines,0.00,0.00,NaN,64038.61,0.68,NaN,NaN,1.24,29.0,PHL,NaN,NaN
32,Poland,5.24,30.77,333519.04,76720.94,0.69,0.35,54.97,7.96,22.0,POL,NaN,NaN
33,Senegal,0.10,18.87,55323.98,277.64,1.29,NaN,NaN,0.51,21.0,SEN,NaN,NaN
34,South Korea,53.30,26.80,NaN,20731.60,0.10,0.08,27.23,11.74,26.0,KOR,NaN,NaN
35,Spain,51.19,23.30,617684.99,71021.86,0.05,0.14,40.35,5.33,10.0,ESP,NaN,NaN
36,Sweden,1.10,41.67,738914.45,332826.99,0.39,0.32,169.29,3.39,5.0,SWE,NaN,NaN
37,Switzerland,1.57,53.58,NaN,3518.71,0.01,0.35,300.56,4.20,10.0,CHE,NaN,NaN
38,Thailand,0.00,0.00,NaN,129794.03,1.63,0.10,7.75,3.47,28.0,THA,NaN,NaN
39,Turkey,2.44,100.00,489728.50,39117.94,0.31,0.63,57.24,4.60,15.0,TUR,NaN,NaN
40,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,0.54,228.02,5.30,12.0,GBR,NaN,NaN
41,United States,9.90,8.06,6102219.78,2109918.28,0.57,0.04,24.94,15.03,7.0,USA,NaN,NaN

In [31]:
GROmerge[GROmerge.index == 41]
GROmerge = GROmerge.drop(columns= ['Air pollution_imputed', 'Renewable energy_imputed'])
#what to do when nearest neighbour also has a null in the column you are looking to impute? copy from second closest neighbour?

In [32]:
#normalise columns so that the columns are on same scale
#here, make sure all columns have a mean of 0 and std deviation of 1
#set mean to 0 by finding the mean of a column, and then subtract the column's mean from every value in the column
#set std deviation to 1 by dividing every value in the col by the std deviation

#find numeric cols
diffset = GROmerge[['Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Air pollution (annual mean ug/m3 <PM2.5)']]

normal = (diffset - diffset.mean()) / diffset.std()
normal

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
0,-0.516317,-0.948075,-0.321682,-0.231317,-0.025134,1.166748,0.232397,-0.309978,NaN
1,-0.391006,-0.889750,NaN,2.131036,0.504294,0.083376,2.204325,2.592426,NaN
2,-0.495613,-0.161011,-0.272090,-0.405523,-0.337320,-0.484104,0.011708,0.476986,-0.363085
3,-0.486351,1.945008,NaN,-0.423541,-0.285825,0.152162,-0.982267,-1.155142,1.321733
4,-0.501061,0.770211,1.180035,3.744059,0.200154,-0.019802,-0.635850,-0.793290,-0.245539
5,0.664329,0.907408,NaN,2.932200,-0.052491,-0.587282,-0.402158,2.574713,-0.558994
6,-0.491799,-0.471529,-0.308366,-0.335260,0.011877,-0.071391,-0.358276,-0.127787,0.224642
7,2.310258,-0.545761,4.525426,0.316425,-0.155480,-0.243355,-0.725008,0.446621,0.851551
8,-0.508144,0.605507,-0.255713,-0.039715,0.369121,-0.105784,-0.794083,-0.912220,NaN
9,-0.067377,1.106577,-0.343355,-0.443639,-0.280998,-0.690460,-0.626679,0.115135,-0.441448
10,-0.516317,-0.948075,-0.435023,-0.434679,-0.300308,NaN,NaN,-0.732560,NaN
11,-0.364309,0.974019,-0.220042,-0.006213,-0.293871,0.134965,2.005461,0.722438,-0.637358
12,1.663546,0.230367,0.020229,-0.331258,-0.351803,-0.208962,0.583225,-0.142969,-0.284721
13,2.067809,0.620420,0.206395,-0.289299,-0.342147,-0.604478,-0.434548,0.841368,-0.284721
14,-0.516317,-0.948075,-0.385057,-0.320425,0.895331,-0.432515,-1.046349,-1.160203,NaN
15,-0.516317,-0.948075,-0.411392,-0.331083,-0.206974,NaN,NaN,-1.043803,NaN
16,-0.471641,-0.779064,NaN,-0.269164,-0.034789,0.805624,-0.876740,-0.851490,4.691369
17,-0.516317,-0.948075,-0.447153,-0.457944,6.046393,4.640414,1.091938,-0.274552,NaN
18,-0.496703,-0.739296,-0.424979,-0.441785,-0.355021,-0.552889,0.322136,0.552899,-0.558994
19,-0.482537,-0.001278,-0.439237,-0.457859,-0.343757,-0.294944,0.501497,0.413725,0.028733
20,-0.467282,-0.897372,-0.015558,-0.364913,-0.343757,0.014591,0.745870,0.044283,-0.323903
21,-0.513593,2.365880,-0.445934,-0.454372,-0.335711,NaN,NaN,-0.578203,NaN
22,0.773295,-0.541122,NaN,-0.377884,-0.343757,-0.742049,-0.925034,0.879325,-0.245539
23,-0.514137,-0.211714,-0.310593,-0.433091,-0.189273,NaN,NaN,-1.205750,NaN
24,-0.515772,2.365880,-0.448059,NaN,-0.358239,NaN,NaN,-0.456743,NaN
25,-0.516317,-0.948075,-0.221558,0.052261,-0.004215,1.665442,0.565115,-0.373239,-0.049630
26,-0.506510,-0.926203,-0.376439,-0.454078,-0.318009,-0.742049,-0.837036,0.932464,-0.402267
27,-0.275502,0.825222,-0.211289,-0.356999,0.764985,-0.449711,0.736582,0.431438,-0.558994
28,-0.509234,-0.794639,NaN,-0.457817,-0.171572,0.478893,-1.000725,-1.051394,NaN
29,-0.506510,0.708903,-0.431510,-0.404976,-0.345366,NaN,NaN,-0.722438,NaN
30,-0.516317,-0.948075,-0.339257,-0.097605,-0.091112,NaN,NaN,-0.889446,0.616461
31,-0.516317,-0.948075,NaN,-0.358161,-0.248814,NaN,NaN,-0.970420,0.224642
32,-0.230826,0.071629,-0.290022,-0.338399,-0.247204,-0.208962,-0.464499,0.730029,-0.049630
33,-0.510868,-0.322732,-0.423112,-0.457511,-0.150652,NaN,NaN,-1.155142,-0.088812
34,2.387624,-0.059935,NaN,-0.425641,-0.342147,-0.673264,-0.786537,1.686532,0.107097
35,2.272665,-0.175924,-0.154076,-0.347280,-0.350193,-0.570086,-0.634225,0.064526,-0.519812
36,-0.456385,0.432850,-0.096079,0.060658,-0.295481,-0.260551,0.862657,-0.426378,-0.715721
37,-0.430778,0.827542,NaN,-0.452461,-0.356630,-0.208962,2.386589,-0.221413,-0.519812
38,-0.516317,-0.948075,NaN,-0.255702,-0.095939,-0.638871,-1.012683,-0.406134,0.185461
39,-0.383378,2.365880,-0.215291,-0.396991,-0.308354,0.272536,-0.438146,-0.120195,-0.323903
40,3.061578,-0.392325,-0.158974,-0.413728,-0.263296,0.117769,1.544462,0.056935,-0.441448
41,0.023064,-0.680971,2.469756,2.829676,-0.266515,-0.742049,-0.813122,2.519044,-0.637358

In [33]:
import math
#that is manual example - try k nearest neighbours
#https://www.dataquest.io/blog/k-nearest-neighbors-in-python/

#first, take euclidian distance using function from dataquest based on ED formula
diffset = GROmerge[['Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Air pollution (annual mean ug/m3 <PM2.5)']]

selected_country = GROmerge[GROmerge['Country'] == 'Argentina'].iloc[0]
#for each column, take diff of values in two rows, square them, and then add difference to total (sum squared differences), then square root the sum

def euclidean_distance(x):
    inner_val = 0
    for k in diffset:
        if np.isnan(x[k]):
            inner_val += 0
            #print("x:", x[k])
            #print("selected:", selected_country[k])
            #print("in:", inner_val)
        elif np.isnan(selected_country[k]):
            inner_val += 0
            #print("x:", x[k])
            #print("selected:", selected_country[k])
            #print("in:", inner_val)
        else:
            result = (x[k] - selected_country[k]) ** 2
            inner_val += result
            #print("x:", x[k])
            #print("selected:", selected_country[k])
            #print("res:", result)
            #print("in:", inner_val)
    #print("new row")
    return math.sqrt(inner_val)
#make sure to ignore nan values or the inner val will become nan and reset - both for selected country row and other rows?
#skip cols with nan
arg_distance = GROmerge.apply(euclidean_distance, axis=1)
arg_distance
#Argentinian euclidean distance from all other rows

0     0.000000e+00
1     1.516103e+06
2     1.524643e+05
3     1.233656e+05
4     4.045059e+06
5     2.030272e+06
6     7.228317e+04
7     1.013789e+07
8     1.847566e+05
9     1.435975e+05
10    2.704855e+05
11    2.569196e+05
12    7.175611e+05
13    1.104453e+06
14    1.442890e+05
15    1.981488e+05
16    2.429002e+04
17    2.998989e+05
18    2.546888e+05
19    2.855126e+05
20    6.456028e+05
21    2.965596e+05
22    9.406375e+04
23    1.315521e+05
24    2.641641e+05
25    2.773496e+05
26    1.831368e+05
27    2.444423e+05
28    1.453631e+05
29    2.551941e+05
30    9.334639e+04
31    8.140566e+04
32    9.540632e+04
33    2.569529e+05
34    1.247127e+05
35    3.581609e+05
36    5.074380e+05
37    1.419257e+05
38    1.565061e+04
39    2.464980e+05
40    3.596888e+05
41    6.156701e+06
dtype: float64

In [34]:
from scipy.spatial import distance
##using scipy library now rather than simple function above
#We can use the distance.euclidean function from scipy.spatial, a much faster way to calculate euclidean distance.
normal.fillna(0, inplace=True)
arg_normal = normal[GROmerge['Country'] == 'Argentina']
euc_dist = normal.apply(lambda row: distance.euclidean(row, arg_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
#distances
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[int(second_nearest)]['Country']
winner
#algorithm correct? find nearest neighbour, take the values from that row for those missing in original row
##this way, DR second too, Honduras, Philippines (lots of Nans), all around 0.05 other way too, Italy kind of random, then Peru
##closest for Arg is Mexico in this case, Mexico row 25 was third other way (manual) BUT only one with no Nans, the others had quite a few (DR 10, Peru 30)

'Mexico'

In [35]:
aus_normal = normal[GROmerge['Country'] == 'Australia']
euc_dist = normal.apply(lambda row: distance.euclidean(row, aus_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner
#also US like other way - not anymore now that we have renewable energy cons added for US

'Finland'

In [36]:
bng_normal = normal[GROmerge['Country'] == 'Bangladesh']
euc_dist = normal.apply(lambda row: distance.euclidean(row, bng_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Jamaica'

In [37]:
can_normal = normal[GROmerge['Country'] == 'Canada']
euc_dist = normal.apply(lambda row: distance.euclidean(row, can_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'United States'

In [38]:
col_normal = normal[GROmerge['Country'] == 'Colombia']
euc_dist = normal.apply(lambda row: distance.euclidean(row, col_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Panama'

In [39]:
dr_normal = normal[GROmerge['Country'] == 'Dominican Republic']
euc_dist = normal.apply(lambda row: distance.euclidean(row, dr_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Honduras'

In [40]:
ghana_normal = normal[GROmerge['Country'] == 'Ghana']
euc_dist = normal.apply(lambda row: distance.euclidean(row, ghana_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Thailand'

In [41]:
hon_normal = normal[GROmerge['Country'] == 'Honduras']
euc_dist = normal.apply(lambda row: distance.euclidean(row, hon_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Dominican Republic'

In [42]:
india_normal = normal[GROmerge['Country'] == 'India']
euc_dist = normal.apply(lambda row: distance.euclidean(row, india_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Peru'

In [43]:
irq_normal = normal[GROmerge['Country'] == 'Iraq']
euc_dist = normal.apply(lambda row: distance.euclidean(row, irq_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Mexico'

In [44]:
jamaica_normal = normal[GROmerge['Country'] == 'Jamaica']
euc_dist = normal.apply(lambda row: distance.euclidean(row, jamaica_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Mauritius'

In [45]:
jpn_normal = normal[GROmerge['Country'] == 'Japan']
euc_dist = normal.apply(lambda row: distance.euclidean(row, jpn_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Netherlands'

In [46]:
ken_normal = normal[GROmerge['Country'] == 'Kenya']
euc_dist = normal.apply(lambda row: distance.euclidean(row, ken_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Senegal'

In [47]:
mus_normal = normal[GROmerge['Country'] == 'Mauritius']
euc_dist = normal.apply(lambda row: distance.euclidean(row, mus_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Jamaica'

In [48]:
pakistan_normal = normal[GROmerge['Country'] == 'Pakistan']
euc_dist = normal.apply(lambda row: distance.euclidean(row, pakistan_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Philippines'

In [49]:
panama_normal = normal[GROmerge['Country'] == 'Panama']
euc_dist = normal.apply(lambda row: distance.euclidean(row, panama_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Kenya'

In [50]:
peru_normal = normal[GROmerge['Country'] == 'Peru']
euc_dist = normal.apply(lambda row: distance.euclidean(row, peru_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Philippines'

In [51]:
phil_normal = normal[GROmerge['Country'] == 'Philippines']
euc_dist = normal.apply(lambda row: distance.euclidean(row, phil_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Honduras'

In [52]:
sen_normal = normal[GROmerge['Country'] == 'Senegal']
euc_dist = normal.apply(lambda row: distance.euclidean(row, sen_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Kenya'

In [53]:
kor_normal = normal[GROmerge['Country'] == 'South Korea']
euc_dist = normal.apply(lambda row: distance.euclidean(row, kor_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Germany'

In [54]:
switz_normal = normal[GROmerge['Country'] == 'Switzerland']
euc_dist = normal.apply(lambda row: distance.euclidean(row, switz_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Finland'

In [55]:
thai_normal = normal[GROmerge['Country'] == 'Thailand']
euc_dist = normal.apply(lambda row: distance.euclidean(row, thai_normal), axis=1)
distances = pd.DataFrame(data={"Distance": euc_dist, "Index": euc_dist.index})
distances.sort_values("Distance", inplace=True)
second_nearest = distances.iloc[1]["Index"]
winner = GROmerge.loc[second_nearest]['Country']
winner

'Chile'

In [56]:
#generate score
#set up test and train sets by using random samplings - shuffle the index and pick rows, otherwise predicting and training on the same data - overfit
import random
from numpy.random import permutation

GROmergez = GROmerge.fillna(0, inplace=False)
shuffled = permutation(GROmergez.index)
#no more than 1/3 of countries in a test set, here testfloor is 14
testfloor = math.floor(len(GROmergez)/3)
#take first third of randomly shuffled indices
testset = GROmergez.loc[shuffled[1:testfloor]]
#train set becomes rest of data
trainset = GROmergez.loc[shuffled[testfloor:]]
trainset

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code
20,Italy,0.90,1.53,907225.69,59704.92,0.09,0.48,159.23,5.25,15.0,ITA
12,France,40.01,35.56,982030.21,81304.17,0.04,0.35,145.22,4.51,16.0,FRA
11,Finland,2.79,58.00,479796.68,289910.40,0.40,0.55,267.73,7.93,7.0,FIN
32,Poland,5.24,30.77,333519.04,76720.94,0.69,0.35,54.97,7.96,22.0,POL
13,Germany,47.43,47.33,1371167.94,108232.51,0.10,0.12,57.55,8.40,16.0,DEU
2,Austria,0.38,23.75,371003.09,33642.43,0.13,0.19,95.99,6.96,14.0,AUT
29,Panama,0.18,50.00,37770.62,33993.59,0.08,0.00,0.00,2.22,0.0,PAN
28,Pakistan,0.13,4.63,0.00,81.24,1.16,0.75,8.78,0.92,0.0,PAK
24,Mauritius,0.01,100.00,3177.45,0.00,0.00,0.00,0.00,3.27,0.0,MUS
4,Brazil,0.28,51.85,3406346.36,2696748.80,3.47,0.46,40.21,1.94,17.0,BRA
36,Sweden,1.10,41.67,738914.45,332826.99,0.39,0.32,169.29,3.39,5.0,SWE
33,Senegal,0.10,18.87,55323.98,277.64,1.29,0.00,0.00,0.51,21.0,SEN
3,Bangladesh,0.55,87.30,0.00,22078.76,0.45,0.56,10.37,0.51,57.0,BGD
16,India,0.82,5.10,0.00,121154.44,2.01,0.94,19.46,1.71,143.0,IND
35,Spain,51.19,23.30,617684.99,71021.86,0.05,0.14,40.35,5.33,10.0,ESP
6,Chile,0.45,14.38,295176.56,78735.47,2.30,0.43,64.12,4.57,29.0,CHL
5,Canada,21.67,55.99,0.00,2175715.83,1.90,0.13,60.34,15.25,9.0,CAN
38,Thailand,0.00,0.00,0.00,129794.03,1.63,0.10,7.75,3.47,28.0,THA
14,Ghana,0.00,0.00,134869.31,88256.58,7.79,0.22,4.85,0.49,0.0,GHA
41,United States,9.90,8.06,6102219.78,2109918.28,0.57,0.04,24.94,15.03,7.0,USA
25,Mexico,0.00,0.00,476628.79,327437.78,2.20,1.44,143.66,3.60,22.0,MEX
39,Turkey,2.44,100.00,489728.50,39117.94,0.31,0.63,57.24,4.60,15.0,TUR
26,Netherlands,0.18,0.66,152883.32,2481.33,0.25,0.04,22.88,8.76,13.0,NLD
40,United Kingdom,65.67,16.77,607446.19,28376.64,0.59,0.54,228.02,5.30,12.0,GBR
9,Denmark,8.24,62.00,222038.54,9180.33,0.48,0.07,41.00,5.53,12.0,DNK
17,Iraq,0.00,0.00,5072.00,0.06,39.80,3.17,189.04,3.99,0.0,IRQ
1,Australia,2.30,1.76,0.00,1661547.60,5.36,0.52,284.86,15.32,0.0,AUS
18,Ireland,0.36,6.30,51421.48,10370.41,0.02,0.15,122.73,7.26,9.0,IRL

In [57]:
#using scikitlearn for k nearest neighbours - does normalisation and finding distance score automatically
#using regressor (continuous data)
#select columns to predict with
xcols = ['Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita']
#select column we want to predict
ycol = ['Air pollution (annual mean ug/m3 <PM2.5)']

from sklearn.neighbors import KNeighborsRegressor
#create k nearest neighbours model, here with 5 closest neighbours (k=5), user defined constant
nearest = KNeighborsRegressor(n_neighbors=5)
#fit the model on the training data
nearest.fit(trainset[xcols], trainset[ycol])
#make point predictions on the test set using the fit model
pp = nearest.predict(testset[xcols])

In [58]:
pp
##we think for the test set, these are the air pollution vals?

array([[ 6. ],
       [15.2],
       [40. ],
       [34.6],
       [15.4],
       [11.4],
       [14.2],
       [11.4],
       [14.6],
       [11.4],
       [13.2],
       [11.4],
       [18.8]])

In [59]:
#https://scikit-learn.org/stable/modules/neighbors.html
actual = testset[ycol]
#compute mean squared error using this formula
#for each row in test set, subtract actual values from predicted values, square the result and then add them together, divide by number of rows in predicted set
#basically finding average squared difference yeah
pp - actual
#error = (((pp - actual) ** 2).sum()) / len(pp)
#error

    Air pollution (annual mean ug/m3 <PM2.5)
10                                       6.0
30                                     -23.8
31                                      11.0
15                                      34.6
0                                       15.4
22                                      -5.6
7                                      -30.8
37                                       1.4
27                                       5.6
21                                      11.4
19                                     -10.8
34                                     -14.6
8                                       18.8

In [60]:
from sklearn.impute import KNNImputer
#missing values replaced by mean value of 5 nearest neighbours measured by Euc dist as distance metric

#scale values to have values between 0 and 1 using Scikit learn's MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

#several key principles there already above
#find numeric cols
diffset = GROmerge[['Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Air pollution (annual mean ug/m3 <PM2.5)']]
scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(diffset), columns = diffset.columns)
df
#multivariate approach to imputation now, not just taking average for that column (univariate)

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
0,0.000000,0.0000,0.025410,0.053933,0.052010,0.354633,0.372493,0.235843,NaN
1,0.035024,0.0176,NaN,0.616130,0.134673,0.153355,0.946907,1.000000,NaN
2,0.005787,0.2375,0.035382,0.012475,0.003266,0.047923,0.308207,0.443038,0.065217
3,0.008375,0.8730,NaN,0.008187,0.011307,0.166134,0.018667,0.013324,0.376812
4,0.004264,0.5185,0.327355,1.000000,0.087186,0.134185,0.119577,0.108594,0.086957
5,0.329983,0.5599,NaN,0.806792,0.047739,0.028754,0.187650,0.995336,0.028986
6,0.006852,0.1438,0.028088,0.029196,0.057789,0.124601,0.200433,0.283811,0.173913
7,0.790011,0.1214,1.000000,0.184286,0.031658,0.092652,0.093605,0.435043,0.289855
8,0.002284,0.4688,0.038674,0.099531,0.113568,0.118211,0.073484,0.077282,NaN
9,0.125476,0.6200,0.021053,0.003404,0.012060,0.009585,0.122248,0.347768,0.050725
10,0.000000,0.0000,0.002621,0.005537,0.009045,NaN,NaN,0.124584,NaN
11,0.042485,0.5800,0.045847,0.107504,0.010050,0.162939,0.888979,0.507662,0.014493
12,0.609258,0.3556,0.094157,0.030149,0.001005,0.099042,0.474688,0.279813,0.079710
13,0.722248,0.4733,0.131589,0.040134,0.002513,0.025559,0.178215,0.538974,0.079710
14,0.000000,0.0000,0.012668,0.032727,0.195729,0.057508,0.000000,0.011992,NaN
15,0.000000,0.0000,0.007373,0.030190,0.023618,NaN,NaN,0.042638,NaN
16,0.012487,0.0510,NaN,0.044926,0.050503,0.287540,0.049407,0.093271,1.000000
17,0.000000,0.0000,0.000182,0.000000,1.000000,1.000000,0.622874,0.245170,NaN
18,0.005482,0.0630,0.004641,0.003846,0.000503,0.035144,0.398634,0.463025,0.028986
19,0.009441,0.2857,0.001774,0.000020,0.002261,0.083067,0.450881,0.426382,0.137681
20,0.013705,0.0153,0.086961,0.022140,0.002261,0.140575,0.522066,0.329114,0.072464
21,0.000761,1.0000,0.000427,0.000850,0.003518,NaN,NaN,0.165223,NaN
22,0.360439,0.1228,NaN,0.019053,0.002261,0.000000,0.035339,0.548967,0.086957
23,0.000609,0.2222,0.027640,0.005915,0.026382,NaN,NaN,0.000000,NaN
24,0.000152,1.0000,0.000000,NaN,0.000000,NaN,NaN,0.197202,NaN
25,0.000000,0.0000,0.045542,0.121419,0.055276,0.447284,0.469413,0.219187,0.123188
26,0.002741,0.0066,0.014400,0.000920,0.006281,0.000000,0.060972,0.562958,0.057971
27,0.067306,0.5351,0.047606,0.024023,0.175377,0.054313,0.519360,0.431046,0.028986
28,0.001980,0.0463,NaN,0.000030,0.029146,0.226837,0.013290,0.040640,NaN
29,0.002741,0.5000,0.003328,0.012605,0.002010,NaN,NaN,0.127249,NaN
30,0.000000,0.0000,0.021876,0.085754,0.041709,NaN,NaN,0.083278,0.246377
31,0.000000,0.0000,NaN,0.023747,0.017085,NaN,NaN,0.061959,0.173913
32,0.079793,0.3077,0.031776,0.028449,0.017337,0.099042,0.169490,0.509660,0.123188
33,0.001523,0.1887,0.005016,0.000103,0.032412,NaN,NaN,0.013324,0.115942
34,0.811634,0.2680,NaN,0.007688,0.002513,0.012780,0.075682,0.761492,0.152174
35,0.779504,0.2330,0.059110,0.026336,0.001256,0.031949,0.120050,0.334444,0.036232
36,0.016750,0.4167,0.070771,0.123418,0.009799,0.089457,0.556085,0.205197,0.000000
37,0.023907,0.5358,NaN,0.001305,0.000251,0.099042,1.000000,0.259161,0.036232
38,0.000000,0.0000,NaN,0.048130,0.040955,0.019169,0.009807,0.210526,0.166667
39,0.037155,1.0000,0.046802,0.014506,0.007789,0.188498,0.177167,0.285809,0.072464
40,1.000000,0.1677,0.058125,0.010523,0.014824,0.159744,0.754692,0.332445,0.050725
41,0.150754,0.0806,0.586674,0.782393,0.014322,0.000000,0.067938,0.980680,0.014493

In [61]:
#https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html
#looks for missing values in all columns, uses others to fill them
imputer = KNNImputer(n_neighbors=5)
#fit to data, then transform it
df = pd.DataFrame(imputer.fit_transform(df), columns = df.columns)

In [62]:
df

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
0,0.000000,0.0000,0.025410,0.053933,0.052010,0.354633,0.372493,0.235843,0.157971
1,0.035024,0.0176,0.145179,0.616130,0.134673,0.153355,0.946907,1.000000,0.031884
2,0.005787,0.2375,0.035382,0.012475,0.003266,0.047923,0.308207,0.443038,0.065217
3,0.008375,0.8730,0.017846,0.008187,0.011307,0.166134,0.018667,0.013324,0.376812
4,0.004264,0.5185,0.327355,1.000000,0.087186,0.134185,0.119577,0.108594,0.086957
5,0.329983,0.5599,0.219689,0.806792,0.047739,0.028754,0.187650,0.995336,0.028986
6,0.006852,0.1438,0.028088,0.029196,0.057789,0.124601,0.200433,0.283811,0.173913
7,0.790011,0.1214,1.000000,0.184286,0.031658,0.092652,0.093605,0.435043,0.289855
8,0.002284,0.4688,0.038674,0.099531,0.113568,0.118211,0.073484,0.077282,0.343478
9,0.125476,0.6200,0.021053,0.003404,0.012060,0.009585,0.122248,0.347768,0.050725
10,0.000000,0.0000,0.002621,0.005537,0.009045,0.267093,0.182882,0.124584,0.342029
11,0.042485,0.5800,0.045847,0.107504,0.010050,0.162939,0.888979,0.507662,0.014493
12,0.609258,0.3556,0.094157,0.030149,0.001005,0.099042,0.474688,0.279813,0.079710
13,0.722248,0.4733,0.131589,0.040134,0.002513,0.025559,0.178215,0.538974,0.079710
14,0.000000,0.0000,0.012668,0.032727,0.195729,0.057508,0.000000,0.011992,0.340580
15,0.000000,0.0000,0.007373,0.030190,0.023618,0.189137,0.088999,0.042638,0.340580
16,0.012487,0.0510,0.015142,0.044926,0.050503,0.287540,0.049407,0.093271,1.000000
17,0.000000,0.0000,0.000182,0.000000,1.000000,1.000000,0.622874,0.245170,0.146377
18,0.005482,0.0630,0.004641,0.003846,0.000503,0.035144,0.398634,0.463025,0.028986
19,0.009441,0.2857,0.001774,0.000020,0.002261,0.083067,0.450881,0.426382,0.137681
20,0.013705,0.0153,0.086961,0.022140,0.002261,0.140575,0.522066,0.329114,0.072464
21,0.000761,1.0000,0.000427,0.000850,0.003518,0.125240,0.441412,0.165223,0.110145
22,0.360439,0.1228,0.033751,0.019053,0.002261,0.000000,0.035339,0.548967,0.086957
23,0.000609,0.2222,0.027640,0.005915,0.026382,0.162939,0.067323,0.000000,0.342029
24,0.000152,1.0000,0.000000,0.007910,0.000000,0.125240,0.441412,0.197202,0.110145
25,0.000000,0.0000,0.045542,0.121419,0.055276,0.447284,0.469413,0.219187,0.123188
26,0.002741,0.0066,0.014400,0.000920,0.006281,0.000000,0.060972,0.562958,0.057971
27,0.067306,0.5351,0.047606,0.024023,0.175377,0.054313,0.519360,0.431046,0.028986
28,0.001980,0.0463,0.012905,0.000030,0.029146,0.226837,0.013290,0.040640,0.340580
29,0.002741,0.5000,0.003328,0.012605,0.002010,0.074121,0.454236,0.127249,0.046377
30,0.000000,0.0000,0.021876,0.085754,0.041709,0.221086,0.173001,0.083278,0.246377
31,0.000000,0.0000,0.020564,0.023747,0.017085,0.221086,0.173001,0.061959,0.173913
32,0.079793,0.3077,0.031776,0.028449,0.017337,0.099042,0.169490,0.509660,0.123188
33,0.001523,0.1887,0.005016,0.000103,0.032412,0.175080,0.138588,0.013324,0.115942
34,0.811634,0.2680,0.263326,0.007688,0.002513,0.012780,0.075682,0.761492,0.152174
35,0.779504,0.2330,0.059110,0.026336,0.001256,0.031949,0.120050,0.334444,0.036232
36,0.016750,0.4167,0.070771,0.123418,0.009799,0.089457,0.556085,0.205197,0.000000
37,0.023907,0.5358,0.030520,0.001305,0.000251,0.099042,1.000000,0.259161,0.036232
38,0.000000,0.0000,0.014525,0.048130,0.040955,0.019169,0.009807,0.210526,0.166667
39,0.037155,1.0000,0.046802,0.014506,0.007789,0.188498,0.177167,0.285809,0.072464
40,1.000000,0.1677,0.058125,0.010523,0.014824,0.159744,0.754692,0.332445,0.050725
41,0.150754,0.0806,0.586674,0.782393,0.014322,0.000000,0.067938,0.980680,0.014493

In [63]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html#sklearn.preprocessing.MinMaxScaler.inverse_transform
df = pd.DataFrame(scaler.inverse_transform(df), columns = df.columns)
df

,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5)
0,0.00,0.00,2.673415e+05,145444.270,2.07,1.150,115.000,3.85,26.8
1,2.30,1.76,1.512457e+06,1661547.600,5.36,0.520,284.860,15.32,9.4
2,0.38,23.75,3.710031e+05,33642.430,0.13,0.190,95.990,6.96,14.0
3,0.55,87.30,1.887063e+05,22078.760,0.45,0.560,10.370,0.51,57.0
4,0.28,51.85,3.406346e+06,2696748.800,3.47,0.460,40.210,1.94,17.0
5,21.67,55.99,2.287058e+06,2175715.830,1.90,0.130,60.340,15.25,9.0
6,0.45,14.38,2.951766e+05,78735.470,2.30,0.430,64.120,4.57,29.0
7,51.88,12.14,1.039914e+07,496972.440,1.26,0.330,32.530,6.84,45.0
8,0.15,46.88,4.052344e+05,268409.880,4.52,0.410,26.580,1.47,52.4
9,8.24,62.00,2.220385e+05,9180.330,0.48,0.070,41.000,5.53,12.0
10,0.00,0.00,3.042670e+04,14930.840,0.36,0.876,58.930,2.18,52.2
11,2.79,58.00,4.797967e+05,289910.400,0.40,0.550,267.730,7.93,7.0
12,40.01,35.56,9.820302e+05,81304.170,0.04,0.350,145.220,4.51,16.0
13,47.43,47.33,1.371168e+06,108232.510,0.10,0.120,57.550,8.40,16.0
14,0.00,0.00,1.348693e+05,88256.580,7.79,0.220,4.850,0.49,52.0
15,0.00,0.00,7.982257e+04,81416.230,0.94,0.632,31.168,0.95,52.0
16,0.82,5.10,1.605961e+05,121154.440,2.01,0.940,19.460,1.71,143.0
17,0.00,0.00,5.072000e+03,0.060,39.80,3.170,189.040,3.99,25.2
18,0.36,6.30,5.142148e+04,10370.410,0.02,0.150,122.730,7.26,9.0
19,0.62,28.57,2.161967e+04,54.360,0.09,0.300,138.180,6.71,24.0
20,0.90,1.53,9.072257e+05,59704.920,0.09,0.480,159.230,5.25,15.0
21,0.05,100.00,7.620430e+03,2292.160,0.14,0.432,135.380,2.79,20.2
22,23.67,12.28,3.540534e+05,51380.580,0.09,0.040,15.300,8.55,17.0
23,0.04,22.22,2.905202e+05,15950.240,1.05,0.550,24.758,0.31,52.2
24,0.01,100.00,3.177450e+03,21332.556,0.00,0.432,135.380,3.27,20.2
25,0.00,0.00,4.766288e+05,327437.780,2.20,1.440,143.660,3.60,22.0
26,0.18,0.66,1.528833e+05,2481.330,0.25,0.040,22.880,8.76,13.0
27,4.42,53.51,4.980923e+05,64784.060,6.98,0.210,158.430,6.78,9.0
28,0.13,4.63,1.373395e+05,81.240,1.16,0.750,8.780,0.92,52.0
29,0.18,50.00,3.777062e+04,33993.590,0.08,0.272,139.172,2.22,11.4
30,0.00,0.00,2.306038e+05,231257.380,1.66,0.732,56.008,1.56,39.0
31,0.00,0.00,2.169647e+05,64038.610,0.68,0.732,56.008,1.24,29.0
32,5.24,30.77,3.335190e+05,76720.940,0.69,0.350,54.970,7.96,22.0
33,0.10,18.87,5.532398e+04,277.640,1.29,0.588,45.832,0.51,21.0
34,53.30,26.80,2.740708e+06,20731.600,0.10,0.080,27.230,11.74,26.0
35,51.19,23.30,6.176850e+05,71021.860,0.05,0.140,40.350,5.33,10.0
36,1.10,41.67,7.389144e+05,332826.990,0.39,0.320,169.290,3.39,5.0
37,1.57,53.58,3.204652e+05,3518.710,0.01,0.350,300.560,4.20,10.0
38,0.00,0.00,1.541798e+05,129794.030,1.63,0.100,7.750,3.47,28.0
39,2.44,100.00,4.897285e+05,39117.940,0.31,0.630,57.240,4.60,15.0
40,65.67,16.77,6.074462e+05,28376.640,0.59,0.540,228.020,5.30,12.0
41,9.90,8.06,6.102220e+06,2109918.280,0.57,0.040,24.940,15.03,7.0

In [64]:
#put these back onto the GROmerge in new cols under per list

In [65]:
per_list = []

for name, values in GROmerge.iteritems():
    narows = GROmerge[GROmerge[name].isna()]
    ## number of NA rows divided by total no of rows
    narows['Country'].count()
    per_imputed = narows['Country'].count() / GROmerge['Country'].count()
    per_list.append(per_imputed)

per_imp = pd.Series(per_list, index=['Country', 'Green recovery spending', 'Percent', 'Renewable energy consumption (TJ)', 'Annual tree cover loss (ha)',
                   'Natural resource rents as % GDP', 'Fossil fuel subsidies as % GDP', 'Fossil fuel subsidies USD per Capita', 'CO2 emissions tons per capita',
                   'Air pollution (annual mean ug/m3 <PM2.5)', 'Country Code'])
GROmerge = GROmerge.append(per_imp, ignore_index=True)
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code
0,Argentina,0.00,0.00,2.673415e+05,1.454443e+05,2.07,1.150000,115.000000,3.85,NaN,ARG
1,Australia,2.30,1.76,NaN,1.661548e+06,5.36,0.520000,284.860000,15.32,NaN,AUS
2,Austria,0.38,23.75,3.710031e+05,3.364243e+04,0.13,0.190000,95.990000,6.96,14.000000,AUT
3,Bangladesh,0.55,87.30,NaN,2.207876e+04,0.45,0.560000,10.370000,0.51,57.000000,BGD
4,Brazil,0.28,51.85,3.406346e+06,2.696749e+06,3.47,0.460000,40.210000,1.94,17.000000,BRA
5,Canada,21.67,55.99,NaN,2.175716e+06,1.90,0.130000,60.340000,15.25,9.000000,CAN
6,Chile,0.45,14.38,2.951766e+05,7.873547e+04,2.30,0.430000,64.120000,4.57,29.000000,CHL
7,China,51.88,12.14,1.039914e+07,4.969724e+05,1.26,0.330000,32.530000,6.84,45.000000,CHN
8,Colombia,0.15,46.88,4.052344e+05,2.684099e+05,4.52,0.410000,26.580000,1.47,NaN,COL
9,Denmark,8.24,62.00,2.220385e+05,9.180330e+03,0.48,0.070000,41.000000,5.53,12.000000,DNK
10,Dominican Republic,0.00,0.00,3.042670e+04,1.493084e+04,0.36,NaN,NaN,2.18,NaN,DOM
11,Finland,2.79,58.00,4.797967e+05,2.899104e+05,0.40,0.550000,267.730000,7.93,7.000000,FIN
12,France,40.01,35.56,9.820302e+05,8.130417e+04,0.04,0.350000,145.220000,4.51,16.000000,FRA
13,Germany,47.43,47.33,1.371168e+06,1.082325e+05,0.10,0.120000,57.550000,8.40,16.000000,DEU
14,Ghana,0.00,0.00,1.348693e+05,8.825658e+04,7.79,0.220000,4.850000,0.49,NaN,GHA
15,Honduras,0.00,0.00,7.982257e+04,8.141623e+04,0.94,NaN,NaN,0.95,NaN,HND
16,India,0.82,5.10,NaN,1.211544e+05,2.01,0.940000,19.460000,1.71,143.000000,IND
17,Iraq,0.00,0.00,5.072000e+03,6.000000e-02,39.80,3.170000,189.040000,3.99,NaN,IRQ
18,Ireland,0.36,6.30,5.142148e+04,1.037041e+04,0.02,0.150000,122.730000,7.26,9.000000,IRL
19,Israel,0.62,28.57,2.161967e+04,5.436000e+01,0.09,0.300000,138.180000,6.71,24.000000,ISR
20,Italy,0.90,1.53,9.072257e+05,5.970492e+04,0.09,0.480000,159.230000,5.25,15.000000,ITA
21,Jamaica,0.05,100.00,7.620430e+03,2.292160e+03,0.14,NaN,NaN,2.79,NaN,JAM
22,Japan,23.67,12.28,NaN,5.138058e+04,0.09,0.040000,15.300000,8.55,17.000000,JPN
23,Kenya,0.04,22.22,2.905202e+05,1.595024e+04,1.05,NaN,NaN,0.31,NaN,KEN
24,Mauritius,0.01,100.00,3.177450e+03,NaN,0.00,NaN,NaN,3.27,NaN,MUS
25,Mexico,0.00,0.00,4.766288e+05,3.274378e+05,2.20,1.440000,143.660000,3.60,22.000000,MEX
26,Netherlands,0.18,0.66,1.528833e+05,2.481330e+03,0.25,0.040000,22.880000,8.76,13.000000,NLD
27,Norway,4.42,53.51,4.980923e+05,6.478406e+04,6.98,0.210000,158.430000,6.78,9.000000,NOR
28,Pakistan,0.13,4.63,NaN,8.124000e+01,1.16,0.750000,8.780000,0.92,NaN,PAK
29,Panama,0.18,50.00,3.777062e+04,3.399359e+04,0.08,NaN,NaN,2.22,NaN,PAN
30,Peru,0.00,0.00,2.306038e+05,2.312574e+05,1.66,NaN,NaN,1.56,39.000000,PER
31,Philippines,0.00,0.00,NaN,6.403861e+04,0.68,NaN,NaN,1.24,29.000000,PHL
32,Poland,5.24,30.77,3.335190e+05,7.672094e+04,0.69,0.350000,54.970000,7.96,22.000000,POL
33,Senegal,0.10,18.87,5.532398e+04,2.776400e+02,1.29,NaN,NaN,0.51,21.000000,SEN
34,South Korea,53.30,26.80,NaN,2.073160e+04,0.10,0.080000,27.230000,11.74,26.000000,KOR
35,Spain,51.19,23.30,6.176850e+05,7.102186e+04,0.05,0.140000,40.350000,5.33,10.000000,ESP
36,Sweden,1.10,41.67,7.389144e+05,3.328270e+05,0.39,0.320000,169.290000,3.39,5.000000,SWE
37,Switzerland,1.57,53.58,NaN,3.518710e+03,0.01,0.350000,300.560000,4.20,10.000000,CHE
38,Thailand,0.00,0.00,NaN,1.297940e+05,1.63,0.100000,7.750000,3.47,28.000000,THA
39,Turkey,2.44,100.00,4.897285e+05,3.911794e+04,0.31,0.630000,57.240000,4.60,15.000000,TUR
40,United Kingdom,65.67,16.77,6.074462e+05,2.837664e+04,0.59,0.540000,228.020000,5.30,12.000000,GBR
41,United States,9.90,8.06,6.102220e+06,2.109918e+06,0.57,0.040000,24.940000,15.03,7.000000,USA
42,0.0,0.00,0.00,2.380952e-01,2.380952e-02,0.00,0.214286,0.214286,0.00,0.285714,0.0

In [66]:
cols = list(GROmerge)
cols

['Country',
 'Green recovery spending',
 'Percent',
 'Renewable energy consumption (TJ)',
 'Annual tree cover loss (ha)',
 'Natural resource rents as % GDP',
 'Fossil fuel subsidies as % GDP',
 'Fossil fuel subsidies USD per Capita',
 'CO2 emissions tons per capita',
 'Air pollution (annual mean ug/m3 <PM2.5)',
 'Country Code']

In [67]:
GROmerge['Percent row imputed'] = GROmerge.isnull().sum(axis=1) / (len(cols) - 2)
## subtract 2 to only count numeric cols
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code,Percent row imputed
0,Argentina,0.00,0.00,2.673415e+05,1.454443e+05,2.07,1.150000,115.000000,3.85,NaN,ARG,0.111111
1,Australia,2.30,1.76,NaN,1.661548e+06,5.36,0.520000,284.860000,15.32,NaN,AUS,0.222222
2,Austria,0.38,23.75,3.710031e+05,3.364243e+04,0.13,0.190000,95.990000,6.96,14.000000,AUT,0.000000
3,Bangladesh,0.55,87.30,NaN,2.207876e+04,0.45,0.560000,10.370000,0.51,57.000000,BGD,0.111111
4,Brazil,0.28,51.85,3.406346e+06,2.696749e+06,3.47,0.460000,40.210000,1.94,17.000000,BRA,0.000000
5,Canada,21.67,55.99,NaN,2.175716e+06,1.90,0.130000,60.340000,15.25,9.000000,CAN,0.111111
6,Chile,0.45,14.38,2.951766e+05,7.873547e+04,2.30,0.430000,64.120000,4.57,29.000000,CHL,0.000000
7,China,51.88,12.14,1.039914e+07,4.969724e+05,1.26,0.330000,32.530000,6.84,45.000000,CHN,0.000000
8,Colombia,0.15,46.88,4.052344e+05,2.684099e+05,4.52,0.410000,26.580000,1.47,NaN,COL,0.111111
9,Denmark,8.24,62.00,2.220385e+05,9.180330e+03,0.48,0.070000,41.000000,5.53,12.000000,DNK,0.000000
10,Dominican Republic,0.00,0.00,3.042670e+04,1.493084e+04,0.36,NaN,NaN,2.18,NaN,DOM,0.333333
11,Finland,2.79,58.00,4.797967e+05,2.899104e+05,0.40,0.550000,267.730000,7.93,7.000000,FIN,0.000000
12,France,40.01,35.56,9.820302e+05,8.130417e+04,0.04,0.350000,145.220000,4.51,16.000000,FRA,0.000000
13,Germany,47.43,47.33,1.371168e+06,1.082325e+05,0.10,0.120000,57.550000,8.40,16.000000,DEU,0.000000
14,Ghana,0.00,0.00,1.348693e+05,8.825658e+04,7.79,0.220000,4.850000,0.49,NaN,GHA,0.111111
15,Honduras,0.00,0.00,7.982257e+04,8.141623e+04,0.94,NaN,NaN,0.95,NaN,HND,0.333333
16,India,0.82,5.10,NaN,1.211544e+05,2.01,0.940000,19.460000,1.71,143.000000,IND,0.111111
17,Iraq,0.00,0.00,5.072000e+03,6.000000e-02,39.80,3.170000,189.040000,3.99,NaN,IRQ,0.111111
18,Ireland,0.36,6.30,5.142148e+04,1.037041e+04,0.02,0.150000,122.730000,7.26,9.000000,IRL,0.000000
19,Israel,0.62,28.57,2.161967e+04,5.436000e+01,0.09,0.300000,138.180000,6.71,24.000000,ISR,0.000000
20,Italy,0.90,1.53,9.072257e+05,5.970492e+04,0.09,0.480000,159.230000,5.25,15.000000,ITA,0.000000
21,Jamaica,0.05,100.00,7.620430e+03,2.292160e+03,0.14,NaN,NaN,2.79,NaN,JAM,0.333333
22,Japan,23.67,12.28,NaN,5.138058e+04,0.09,0.040000,15.300000,8.55,17.000000,JPN,0.111111
23,Kenya,0.04,22.22,2.905202e+05,1.595024e+04,1.05,NaN,NaN,0.31,NaN,KEN,0.333333
24,Mauritius,0.01,100.00,3.177450e+03,NaN,0.00,NaN,NaN,3.27,NaN,MUS,0.444444
25,Mexico,0.00,0.00,4.766288e+05,3.274378e+05,2.20,1.440000,143.660000,3.60,22.000000,MEX,0.000000
26,Netherlands,0.18,0.66,1.528833e+05,2.481330e+03,0.25,0.040000,22.880000,8.76,13.000000,NLD,0.000000
27,Norway,4.42,53.51,4.980923e+05,6.478406e+04,6.98,0.210000,158.430000,6.78,9.000000,NOR,0.000000
28,Pakistan,0.13,4.63,NaN,8.124000e+01,1.16,0.750000,8.780000,0.92,NaN,PAK,0.222222
29,Panama,0.18,50.00,3.777062e+04,3.399359e+04,0.08,NaN,NaN,2.22,NaN,PAN,0.333333
30,Peru,0.00,0.00,2.306038e+05,2.312574e+05,1.66,NaN,NaN,1.56,39.000000,PER,0.222222
31,Philippines,0.00,0.00,NaN,6.403861e+04,0.68,NaN,NaN,1.24,29.000000,PHL,0.333333
32,Poland,5.24,30.77,3.335190e+05,7.672094e+04,0.69,0.350000,54.970000,7.96,22.000000,POL,0.000000
33,Senegal,0.10,18.87,5.532398e+04,2.776400e+02,1.29,NaN,NaN,0.51,21.000000,SEN,0.222222
34,South Korea,53.30,26.80,NaN,2.073160e+04,0.10,0.080000,27.230000,11.74,26.000000,KOR,0.111111
35,Spain,51.19,23.30,6.176850e+05,7.102186e+04,0.05,0.140000,40.350000,5.33,10.000000,ESP,0.000000
36,Sweden,1.10,41.67,7.389144e+05,3.328270e+05,0.39,0.320000,169.290000,3.39,5.000000,SWE,0.000000
37,Switzerland,1.57,53.58,NaN,3.518710e+03,0.01,0.350000,300.560000,4.20,10.000000,CHE,0.111111
38,Thailand,0.00,0.00,NaN,1.297940e+05,1.63,0.100000,7.750000,3.47,28.000000,THA,0.111111
39,Turkey,2.44,100.00,4.897285e+05,3.911794e+04,0.31,0.630000,57.240000,4.60,15.000000,TUR,0.000000
40,United Kingdom,65.67,16.77,6.074462e+05,2.837664e+04,0.59,0.540000,228.020000,5.30,12.000000,GBR,0.000000
41,United States,9.90,8.06,6.102220e+06,2.109918e+06,0.57,0.040000,24.940000,15.03,7.000000,USA,0.000000
42,0.0,0.00,0.00,2.380952e-01,2.380952e-02,0.00,0.214286,0.214286,0.00,0.285714,0.0,0.000000

In [81]:
GROmerge['Renewable energy_imputed'] = np.nan

for index, row in GROmerge.iterrows():
    if np.isnan(row['Renewable energy consumption (TJ)']):
        #print(row['Country'])
        GROmerge.at[index, 'Renewable energy_imputed'] = df.iloc[index]['Renewable energy consumption (TJ)']

#def newcol(x):
   #if np.isnan(x['Renewable energy consumption (TJ)']):
        #return df['Renewable energy consumption (TJ)']

#GROmerge['Renewable energy_imputed'] = GROmerge.apply(newcol, axis=1)
#GROmerge['Renewable energy_imputed']

Australia
Bangladesh
Canada
India
Japan
Pakistan
Philippines
South Korea
Switzerland
Thailand

In [82]:
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code,Percent row imputed,Renewable energy_imputed
0,Argentina,0.00,0.00,2.673415e+05,1.454443e+05,2.07,1.150000,115.000000,3.85,NaN,ARG,0.111111,NaN
1,Australia,2.30,1.76,NaN,1.661548e+06,5.36,0.520000,284.860000,15.32,NaN,AUS,0.222222,1512456.660
2,Austria,0.38,23.75,3.710031e+05,3.364243e+04,0.13,0.190000,95.990000,6.96,14.000000,AUT,0.000000,NaN
3,Bangladesh,0.55,87.30,NaN,2.207876e+04,0.45,0.560000,10.370000,0.51,57.000000,BGD,0.111111,188706.286
4,Brazil,0.28,51.85,3.406346e+06,2.696749e+06,3.47,0.460000,40.210000,1.94,17.000000,BRA,0.000000,NaN
5,Canada,21.67,55.99,NaN,2.175716e+06,1.90,0.130000,60.340000,15.25,9.000000,CAN,0.111111,2287058.332
6,Chile,0.45,14.38,2.951766e+05,7.873547e+04,2.30,0.430000,64.120000,4.57,29.000000,CHL,0.000000,NaN
7,China,51.88,12.14,1.039914e+07,4.969724e+05,1.26,0.330000,32.530000,6.84,45.000000,CHN,0.000000,NaN
8,Colombia,0.15,46.88,4.052344e+05,2.684099e+05,4.52,0.410000,26.580000,1.47,NaN,COL,0.111111,NaN
9,Denmark,8.24,62.00,2.220385e+05,9.180330e+03,0.48,0.070000,41.000000,5.53,12.000000,DNK,0.000000,NaN
10,Dominican Republic,0.00,0.00,3.042670e+04,1.493084e+04,0.36,NaN,NaN,2.18,NaN,DOM,0.333333,NaN
11,Finland,2.79,58.00,4.797967e+05,2.899104e+05,0.40,0.550000,267.730000,7.93,7.000000,FIN,0.000000,NaN
12,France,40.01,35.56,9.820302e+05,8.130417e+04,0.04,0.350000,145.220000,4.51,16.000000,FRA,0.000000,NaN
13,Germany,47.43,47.33,1.371168e+06,1.082325e+05,0.10,0.120000,57.550000,8.40,16.000000,DEU,0.000000,NaN
14,Ghana,0.00,0.00,1.348693e+05,8.825658e+04,7.79,0.220000,4.850000,0.49,NaN,GHA,0.111111,NaN
15,Honduras,0.00,0.00,7.982257e+04,8.141623e+04,0.94,NaN,NaN,0.95,NaN,HND,0.333333,NaN
16,India,0.82,5.10,NaN,1.211544e+05,2.01,0.940000,19.460000,1.71,143.000000,IND,0.111111,160596.060
17,Iraq,0.00,0.00,5.072000e+03,6.000000e-02,39.80,3.170000,189.040000,3.99,NaN,IRQ,0.111111,NaN
18,Ireland,0.36,6.30,5.142148e+04,1.037041e+04,0.02,0.150000,122.730000,7.26,9.000000,IRL,0.000000,NaN
19,Israel,0.62,28.57,2.161967e+04,5.436000e+01,0.09,0.300000,138.180000,6.71,24.000000,ISR,0.000000,NaN
20,Italy,0.90,1.53,9.072257e+05,5.970492e+04,0.09,0.480000,159.230000,5.25,15.000000,ITA,0.000000,NaN
21,Jamaica,0.05,100.00,7.620430e+03,2.292160e+03,0.14,NaN,NaN,2.79,NaN,JAM,0.333333,NaN
22,Japan,23.67,12.28,NaN,5.138058e+04,0.09,0.040000,15.300000,8.55,17.000000,JPN,0.111111,354053.400
23,Kenya,0.04,22.22,2.905202e+05,1.595024e+04,1.05,NaN,NaN,0.31,NaN,KEN,0.333333,NaN
24,Mauritius,0.01,100.00,3.177450e+03,NaN,0.00,NaN,NaN,3.27,NaN,MUS,0.444444,NaN
25,Mexico,0.00,0.00,4.766288e+05,3.274378e+05,2.20,1.440000,143.660000,3.60,22.000000,MEX,0.000000,NaN
26,Netherlands,0.18,0.66,1.528833e+05,2.481330e+03,0.25,0.040000,22.880000,8.76,13.000000,NLD,0.000000,NaN
27,Norway,4.42,53.51,4.980923e+05,6.478406e+04,6.98,0.210000,158.430000,6.78,9.000000,NOR,0.000000,NaN
28,Pakistan,0.13,4.63,NaN,8.124000e+01,1.16,0.750000,8.780000,0.92,NaN,PAK,0.222222,137339.452
29,Panama,0.18,50.00,3.777062e+04,3.399359e+04,0.08,NaN,NaN,2.22,NaN,PAN,0.333333,NaN
30,Peru,0.00,0.00,2.306038e+05,2.312574e+05,1.66,NaN,NaN,1.56,39.000000,PER,0.222222,NaN
31,Philippines,0.00,0.00,NaN,6.403861e+04,0.68,NaN,NaN,1.24,29.000000,PHL,0.333333,216964.674
32,Poland,5.24,30.77,3.335190e+05,7.672094e+04,0.69,0.350000,54.970000,7.96,22.000000,POL,0.000000,NaN
33,Senegal,0.10,18.87,5.532398e+04,2.776400e+02,1.29,NaN,NaN,0.51,21.000000,SEN,0.222222,NaN
34,South Korea,53.30,26.80,NaN,2.073160e+04,0.10,0.080000,27.230000,11.74,26.000000,KOR,0.111111,2740708.170
35,Spain,51.19,23.30,6.176850e+05,7.102186e+04,0.05,0.140000,40.350000,5.33,10.000000,ESP,0.000000,NaN
36,Sweden,1.10,41.67,7.389144e+05,3.328270e+05,0.39,0.320000,169.290000,3.39,5.000000,SWE,0.000000,NaN
37,Switzerland,1.57,53.58,NaN,3.518710e+03,0.01,0.350000,300.560000,4.20,10.000000,CHE,0.111111,320465.188
38,Thailand,0.00,0.00,NaN,1.297940e+05,1.63,0.100000,7.750000,3.47,28.000000,THA,0.111111,154179.788
39,Turkey,2.44,100.00,4.897285e+05,3.911794e+04,0.31,0.630000,57.240000,4.60,15.000000,TUR,0.000000,NaN
40,United Kingdom,65.67,16.77,6.074462e+05,2.837664e+04,0.59,0.540000,228.020000,5.30,12.000000,GBR,0.000000,NaN
41,United States,9.90,8.06,6.102220e+06,2.109918e+06,0.57,0.040000,24.940000,15.03,7.000000,USA,0.000000,NaN
42,0.0,0.00,0.00,2.380952e-01,2.380952e-02,0.00,0.214286,0.214286,0.00,0.285714,0.0,0.000000,NaN

In [83]:
GROmerge['Tree cover_imputed'] = np.nan

for index, row in GROmerge.iterrows():
    if np.isnan(row['Annual tree cover loss (ha)']):
        GROmerge.at[index, 'Tree cover_imputed'] = df.iloc[index]['Annual tree cover loss (ha)']

In [84]:
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code,Percent row imputed,Renewable energy_imputed,Tree cover_imputed
0,Argentina,0.00,0.00,2.673415e+05,1.454443e+05,2.07,1.150000,115.000000,3.85,NaN,ARG,0.111111,NaN,NaN
1,Australia,2.30,1.76,NaN,1.661548e+06,5.36,0.520000,284.860000,15.32,NaN,AUS,0.222222,1512456.660,NaN
2,Austria,0.38,23.75,3.710031e+05,3.364243e+04,0.13,0.190000,95.990000,6.96,14.000000,AUT,0.000000,NaN,NaN
3,Bangladesh,0.55,87.30,NaN,2.207876e+04,0.45,0.560000,10.370000,0.51,57.000000,BGD,0.111111,188706.286,NaN
4,Brazil,0.28,51.85,3.406346e+06,2.696749e+06,3.47,0.460000,40.210000,1.94,17.000000,BRA,0.000000,NaN,NaN
5,Canada,21.67,55.99,NaN,2.175716e+06,1.90,0.130000,60.340000,15.25,9.000000,CAN,0.111111,2287058.332,NaN
6,Chile,0.45,14.38,2.951766e+05,7.873547e+04,2.30,0.430000,64.120000,4.57,29.000000,CHL,0.000000,NaN,NaN
7,China,51.88,12.14,1.039914e+07,4.969724e+05,1.26,0.330000,32.530000,6.84,45.000000,CHN,0.000000,NaN,NaN
8,Colombia,0.15,46.88,4.052344e+05,2.684099e+05,4.52,0.410000,26.580000,1.47,NaN,COL,0.111111,NaN,NaN
9,Denmark,8.24,62.00,2.220385e+05,9.180330e+03,0.48,0.070000,41.000000,5.53,12.000000,DNK,0.000000,NaN,NaN
10,Dominican Republic,0.00,0.00,3.042670e+04,1.493084e+04,0.36,NaN,NaN,2.18,NaN,DOM,0.333333,NaN,NaN
11,Finland,2.79,58.00,4.797967e+05,2.899104e+05,0.40,0.550000,267.730000,7.93,7.000000,FIN,0.000000,NaN,NaN
12,France,40.01,35.56,9.820302e+05,8.130417e+04,0.04,0.350000,145.220000,4.51,16.000000,FRA,0.000000,NaN,NaN
13,Germany,47.43,47.33,1.371168e+06,1.082325e+05,0.10,0.120000,57.550000,8.40,16.000000,DEU,0.000000,NaN,NaN
14,Ghana,0.00,0.00,1.348693e+05,8.825658e+04,7.79,0.220000,4.850000,0.49,NaN,GHA,0.111111,NaN,NaN
15,Honduras,0.00,0.00,7.982257e+04,8.141623e+04,0.94,NaN,NaN,0.95,NaN,HND,0.333333,NaN,NaN
16,India,0.82,5.10,NaN,1.211544e+05,2.01,0.940000,19.460000,1.71,143.000000,IND,0.111111,160596.060,NaN
17,Iraq,0.00,0.00,5.072000e+03,6.000000e-02,39.80,3.170000,189.040000,3.99,NaN,IRQ,0.111111,NaN,NaN
18,Ireland,0.36,6.30,5.142148e+04,1.037041e+04,0.02,0.150000,122.730000,7.26,9.000000,IRL,0.000000,NaN,NaN
19,Israel,0.62,28.57,2.161967e+04,5.436000e+01,0.09,0.300000,138.180000,6.71,24.000000,ISR,0.000000,NaN,NaN
20,Italy,0.90,1.53,9.072257e+05,5.970492e+04,0.09,0.480000,159.230000,5.25,15.000000,ITA,0.000000,NaN,NaN
21,Jamaica,0.05,100.00,7.620430e+03,2.292160e+03,0.14,NaN,NaN,2.79,NaN,JAM,0.333333,NaN,NaN
22,Japan,23.67,12.28,NaN,5.138058e+04,0.09,0.040000,15.300000,8.55,17.000000,JPN,0.111111,354053.400,NaN
23,Kenya,0.04,22.22,2.905202e+05,1.595024e+04,1.05,NaN,NaN,0.31,NaN,KEN,0.333333,NaN,NaN
24,Mauritius,0.01,100.00,3.177450e+03,NaN,0.00,NaN,NaN,3.27,NaN,MUS,0.444444,NaN,21332.556
25,Mexico,0.00,0.00,4.766288e+05,3.274378e+05,2.20,1.440000,143.660000,3.60,22.000000,MEX,0.000000,NaN,NaN
26,Netherlands,0.18,0.66,1.528833e+05,2.481330e+03,0.25,0.040000,22.880000,8.76,13.000000,NLD,0.000000,NaN,NaN
27,Norway,4.42,53.51,4.980923e+05,6.478406e+04,6.98,0.210000,158.430000,6.78,9.000000,NOR,0.000000,NaN,NaN
28,Pakistan,0.13,4.63,NaN,8.124000e+01,1.16,0.750000,8.780000,0.92,NaN,PAK,0.222222,137339.452,NaN
29,Panama,0.18,50.00,3.777062e+04,3.399359e+04,0.08,NaN,NaN,2.22,NaN,PAN,0.333333,NaN,NaN
30,Peru,0.00,0.00,2.306038e+05,2.312574e+05,1.66,NaN,NaN,1.56,39.000000,PER,0.222222,NaN,NaN
31,Philippines,0.00,0.00,NaN,6.403861e+04,0.68,NaN,NaN,1.24,29.000000,PHL,0.333333,216964.674,NaN
32,Poland,5.24,30.77,3.335190e+05,7.672094e+04,0.69,0.350000,54.970000,7.96,22.000000,POL,0.000000,NaN,NaN
33,Senegal,0.10,18.87,5.532398e+04,2.776400e+02,1.29,NaN,NaN,0.51,21.000000,SEN,0.222222,NaN,NaN
34,South Korea,53.30,26.80,NaN,2.073160e+04,0.10,0.080000,27.230000,11.74,26.000000,KOR,0.111111,2740708.170,NaN
35,Spain,51.19,23.30,6.176850e+05,7.102186e+04,0.05,0.140000,40.350000,5.33,10.000000,ESP,0.000000,NaN,NaN
36,Sweden,1.10,41.67,7.389144e+05,3.328270e+05,0.39,0.320000,169.290000,3.39,5.000000,SWE,0.000000,NaN,NaN
37,Switzerland,1.57,53.58,NaN,3.518710e+03,0.01,0.350000,300.560000,4.20,10.000000,CHE,0.111111,320465.188,NaN
38,Thailand,0.00,0.00,NaN,1.297940e+05,1.63,0.100000,7.750000,3.47,28.000000,THA,0.111111,154179.788,NaN
39,Turkey,2.44,100.00,4.897285e+05,3.911794e+04,0.31,0.630000,57.240000,4.60,15.000000,TUR,0.000000,NaN,NaN
40,United Kingdom,65.67,16.77,6.074462e+05,2.837664e+04,0.59,0.540000,228.020000,5.30,12.000000,GBR,0.000000,NaN,NaN
41,United States,9.90,8.06,6.102220e+06,2.109918e+06,0.57,0.040000,24.940000,15.03,7.000000,USA,0.000000,NaN,NaN
42,0.0,0.00,0.00,2.380952e-01,2.380952e-02,0.00,0.214286,0.214286,0.00,0.285714,0.0,0.000000,NaN,NaN

In [85]:
GROmerge['Fossil fuel GDP_imputed'] = np.nan

for index, row in GROmerge.iterrows():
    if np.isnan(row['Fossil fuel subsidies as % GDP']):
        GROmerge.at[index, 'Fossil fuel GDP_imputed'] = df.iloc[index]['Fossil fuel subsidies as % GDP']
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code,Percent row imputed,Renewable energy_imputed,Tree cover_imputed,Fossil fuel GDP_imputed
0,Argentina,0.00,0.00,2.673415e+05,1.454443e+05,2.07,1.150000,115.000000,3.85,NaN,ARG,0.111111,NaN,NaN,NaN
1,Australia,2.30,1.76,NaN,1.661548e+06,5.36,0.520000,284.860000,15.32,NaN,AUS,0.222222,1512456.660,NaN,NaN
2,Austria,0.38,23.75,3.710031e+05,3.364243e+04,0.13,0.190000,95.990000,6.96,14.000000,AUT,0.000000,NaN,NaN,NaN
3,Bangladesh,0.55,87.30,NaN,2.207876e+04,0.45,0.560000,10.370000,0.51,57.000000,BGD,0.111111,188706.286,NaN,NaN
4,Brazil,0.28,51.85,3.406346e+06,2.696749e+06,3.47,0.460000,40.210000,1.94,17.000000,BRA,0.000000,NaN,NaN,NaN
5,Canada,21.67,55.99,NaN,2.175716e+06,1.90,0.130000,60.340000,15.25,9.000000,CAN,0.111111,2287058.332,NaN,NaN
6,Chile,0.45,14.38,2.951766e+05,7.873547e+04,2.30,0.430000,64.120000,4.57,29.000000,CHL,0.000000,NaN,NaN,NaN
7,China,51.88,12.14,1.039914e+07,4.969724e+05,1.26,0.330000,32.530000,6.84,45.000000,CHN,0.000000,NaN,NaN,NaN
8,Colombia,0.15,46.88,4.052344e+05,2.684099e+05,4.52,0.410000,26.580000,1.47,NaN,COL,0.111111,NaN,NaN,NaN
9,Denmark,8.24,62.00,2.220385e+05,9.180330e+03,0.48,0.070000,41.000000,5.53,12.000000,DNK,0.000000,NaN,NaN,NaN
10,Dominican Republic,0.00,0.00,3.042670e+04,1.493084e+04,0.36,NaN,NaN,2.18,NaN,DOM,0.333333,NaN,NaN,0.876
11,Finland,2.79,58.00,4.797967e+05,2.899104e+05,0.40,0.550000,267.730000,7.93,7.000000,FIN,0.000000,NaN,NaN,NaN
12,France,40.01,35.56,9.820302e+05,8.130417e+04,0.04,0.350000,145.220000,4.51,16.000000,FRA,0.000000,NaN,NaN,NaN
13,Germany,47.43,47.33,1.371168e+06,1.082325e+05,0.10,0.120000,57.550000,8.40,16.000000,DEU,0.000000,NaN,NaN,NaN
14,Ghana,0.00,0.00,1.348693e+05,8.825658e+04,7.79,0.220000,4.850000,0.49,NaN,GHA,0.111111,NaN,NaN,NaN
15,Honduras,0.00,0.00,7.982257e+04,8.141623e+04,0.94,NaN,NaN,0.95,NaN,HND,0.333333,NaN,NaN,0.632
16,India,0.82,5.10,NaN,1.211544e+05,2.01,0.940000,19.460000,1.71,143.000000,IND,0.111111,160596.060,NaN,NaN
17,Iraq,0.00,0.00,5.072000e+03,6.000000e-02,39.80,3.170000,189.040000,3.99,NaN,IRQ,0.111111,NaN,NaN,NaN
18,Ireland,0.36,6.30,5.142148e+04,1.037041e+04,0.02,0.150000,122.730000,7.26,9.000000,IRL,0.000000,NaN,NaN,NaN
19,Israel,0.62,28.57,2.161967e+04,5.436000e+01,0.09,0.300000,138.180000,6.71,24.000000,ISR,0.000000,NaN,NaN,NaN
20,Italy,0.90,1.53,9.072257e+05,5.970492e+04,0.09,0.480000,159.230000,5.25,15.000000,ITA,0.000000,NaN,NaN,NaN
21,Jamaica,0.05,100.00,7.620430e+03,2.292160e+03,0.14,NaN,NaN,2.79,NaN,JAM,0.333333,NaN,NaN,0.432
22,Japan,23.67,12.28,NaN,5.138058e+04,0.09,0.040000,15.300000,8.55,17.000000,JPN,0.111111,354053.400,NaN,NaN
23,Kenya,0.04,22.22,2.905202e+05,1.595024e+04,1.05,NaN,NaN,0.31,NaN,KEN,0.333333,NaN,NaN,0.550
24,Mauritius,0.01,100.00,3.177450e+03,NaN,0.00,NaN,NaN,3.27,NaN,MUS,0.444444,NaN,21332.556,0.432
25,Mexico,0.00,0.00,4.766288e+05,3.274378e+05,2.20,1.440000,143.660000,3.60,22.000000,MEX,0.000000,NaN,NaN,NaN
26,Netherlands,0.18,0.66,1.528833e+05,2.481330e+03,0.25,0.040000,22.880000,8.76,13.000000,NLD,0.000000,NaN,NaN,NaN
27,Norway,4.42,53.51,4.980923e+05,6.478406e+04,6.98,0.210000,158.430000,6.78,9.000000,NOR,0.000000,NaN,NaN,NaN
28,Pakistan,0.13,4.63,NaN,8.124000e+01,1.16,0.750000,8.780000,0.92,NaN,PAK,0.222222,137339.452,NaN,NaN
29,Panama,0.18,50.00,3.777062e+04,3.399359e+04,0.08,NaN,NaN,2.22,NaN,PAN,0.333333,NaN,NaN,0.272
30,Peru,0.00,0.00,2.306038e+05,2.312574e+05,1.66,NaN,NaN,1.56,39.000000,PER,0.222222,NaN,NaN,0.732
31,Philippines,0.00,0.00,NaN,6.403861e+04,0.68,NaN,NaN,1.24,29.000000,PHL,0.333333,216964.674,NaN,0.732
32,Poland,5.24,30.77,3.335190e+05,7.672094e+04,0.69,0.350000,54.970000,7.96,22.000000,POL,0.000000,NaN,NaN,NaN
33,Senegal,0.10,18.87,5.532398e+04,2.776400e+02,1.29,NaN,NaN,0.51,21.000000,SEN,0.222222,NaN,NaN,0.588
34,South Korea,53.30,26.80,NaN,2.073160e+04,0.10,0.080000,27.230000,11.74,26.000000,KOR,0.111111,2740708.170,NaN,NaN
35,Spain,51.19,23.30,6.176850e+05,7.102186e+04,0.05,0.140000,40.350000,5.33,10.000000,ESP,0.000000,NaN,NaN,NaN
36,Sweden,1.10,41.67,7.389144e+05,3.328270e+05,0.39,0.320000,169.290000,3.39,5.000000,SWE,0.000000,NaN,NaN,NaN
37,Switzerland,1.57,53.58,NaN,3.518710e+03,0.01,0.350000,300.560000,4.20,10.000000,CHE,0.111111,320465.188,NaN,NaN
38,Thailand,0.00,0.00,NaN,1.297940e+05,1.63,0.100000,7.750000,3.47,28.000000,THA,0.111111,154179.788,NaN,NaN
39,Turkey,2.44,100.00,4.897285e+05,3.911794e+04,0.31,0.630000,57.240000,4.60,15.000000,TUR,0.000000,NaN,NaN,NaN
40,United Kingdom,65.67,16.77,6.074462e+05,2.837664e+04,0.59,0.540000,228.020000,5.30,12.000000,GBR,0.000000,NaN,NaN,NaN
41,United States,9.90,8.06,6.102220e+06,2.109918e+06,0.57,0.040000,24.940000,15.03,7.000000,USA,0.000000,NaN,NaN,NaN
42,0.0,0.00,0.00,2.380952e-01,2.380952e-02,0.00,0.214286,0.214286,0.00,0.285714,0.0,0.000000,NaN,NaN,NaN

In [87]:
GROmerge['Fossil fuel per cap_imputed'] = np.nan
GROmerge['Air pollution_imputed'] = np.nan

for index, row in GROmerge.iterrows():
    if np.isnan(row['Fossil fuel subsidies USD per Capita']):
        GROmerge.at[index, 'Fossil fuel per cap_imputed'] = df.iloc[index]['Fossil fuel subsidies USD per Capita']
    if np.isnan(row['Air pollution (annual mean ug/m3 <PM2.5)']):   
        GROmerge.at[index, 'Air pollution_imputed'] = df.iloc[index]['Air pollution (annual mean ug/m3 <PM2.5)']
GROmerge

,Country,Green recovery spending,Percent,Renewable energy consumption (TJ),Annual tree cover loss (ha),Natural resource rents as % GDP,Fossil fuel subsidies as % GDP,Fossil fuel subsidies USD per Capita,CO2 emissions tons per capita,Air pollution (annual mean ug/m3 <PM2.5),Country Code,Percent row imputed,Renewable energy_imputed,Tree cover_imputed,Fossil fuel GDP_imputed,Fossil fuel per cap_imputed,Air pollution_imputed
0,Argentina,0.00,0.00,2.673415e+05,1.454443e+05,2.07,1.150000,115.000000,3.85,NaN,ARG,0.111111,NaN,NaN,NaN,NaN,26.8
1,Australia,2.30,1.76,NaN,1.661548e+06,5.36,0.520000,284.860000,15.32,NaN,AUS,0.222222,1512456.660,NaN,NaN,NaN,9.4
2,Austria,0.38,23.75,3.710031e+05,3.364243e+04,0.13,0.190000,95.990000,6.96,14.000000,AUT,0.000000,NaN,NaN,NaN,NaN,NaN
3,Bangladesh,0.55,87.30,NaN,2.207876e+04,0.45,0.560000,10.370000,0.51,57.000000,BGD,0.111111,188706.286,NaN,NaN,NaN,NaN
4,Brazil,0.28,51.85,3.406346e+06,2.696749e+06,3.47,0.460000,40.210000,1.94,17.000000,BRA,0.000000,NaN,NaN,NaN,NaN,NaN
5,Canada,21.67,55.99,NaN,2.175716e+06,1.90,0.130000,60.340000,15.25,9.000000,CAN,0.111111,2287058.332,NaN,NaN,NaN,NaN
6,Chile,0.45,14.38,2.951766e+05,7.873547e+04,2.30,0.430000,64.120000,4.57,29.000000,CHL,0.000000,NaN,NaN,NaN,NaN,NaN
7,China,51.88,12.14,1.039914e+07,4.969724e+05,1.26,0.330000,32.530000,6.84,45.000000,CHN,0.000000,NaN,NaN,NaN,NaN,NaN
8,Colombia,0.15,46.88,4.052344e+05,2.684099e+05,4.52,0.410000,26.580000,1.47,NaN,COL,0.111111,NaN,NaN,NaN,NaN,52.4
9,Denmark,8.24,62.00,2.220385e+05,9.180330e+03,0.48,0.070000,41.000000,5.53,12.000000,DNK,0.000000,NaN,NaN,NaN,NaN,NaN
10,Dominican Republic,0.00,0.00,3.042670e+04,1.493084e+04,0.36,NaN,NaN,2.18,NaN,DOM,0.333333,NaN,NaN,0.876,58.930,52.2
11,Finland,2.79,58.00,4.797967e+05,2.899104e+05,0.40,0.550000,267.730000,7.93,7.000000,FIN,0.000000,NaN,NaN,NaN,NaN,NaN
12,France,40.01,35.56,9.820302e+05,8.130417e+04,0.04,0.350000,145.220000,4.51,16.000000,FRA,0.000000,NaN,NaN,NaN,NaN,NaN
13,Germany,47.43,47.33,1.371168e+06,1.082325e+05,0.10,0.120000,57.550000,8.40,16.000000,DEU,0.000000,NaN,NaN,NaN,NaN,NaN
14,Ghana,0.00,0.00,1.348693e+05,8.825658e+04,7.79,0.220000,4.850000,0.49,NaN,GHA,0.111111,NaN,NaN,NaN,NaN,52.0
15,Honduras,0.00,0.00,7.982257e+04,8.141623e+04,0.94,NaN,NaN,0.95,NaN,HND,0.333333,NaN,NaN,0.632,31.168,52.0
16,India,0.82,5.10,NaN,1.211544e+05,2.01,0.940000,19.460000,1.71,143.000000,IND,0.111111,160596.060,NaN,NaN,NaN,NaN
17,Iraq,0.00,0.00,5.072000e+03,6.000000e-02,39.80,3.170000,189.040000,3.99,NaN,IRQ,0.111111,NaN,NaN,NaN,NaN,25.2
18,Ireland,0.36,6.30,5.142148e+04,1.037041e+04,0.02,0.150000,122.730000,7.26,9.000000,IRL,0.000000,NaN,NaN,NaN,NaN,NaN
19,Israel,0.62,28.57,2.161967e+04,5.436000e+01,0.09,0.300000,138.180000,6.71,24.000000,ISR,0.000000,NaN,NaN,NaN,NaN,NaN
20,Italy,0.90,1.53,9.072257e+05,5.970492e+04,0.09,0.480000,159.230000,5.25,15.000000,ITA,0.000000,NaN,NaN,NaN,NaN,NaN
21,Jamaica,0.05,100.00,7.620430e+03,2.292160e+03,0.14,NaN,NaN,2.79,NaN,JAM,0.333333,NaN,NaN,0.432,135.380,20.2
22,Japan,23.67,12.28,NaN,5.138058e+04,0.09,0.040000,15.300000,8.55,17.000000,JPN,0.111111,354053.400,NaN,NaN,NaN,NaN
23,Kenya,0.04,22.22,2.905202e+05,1.595024e+04,1.05,NaN,NaN,0.31,NaN,KEN,0.333333,NaN,NaN,0.550,24.758,52.2
24,Mauritius,0.01,100.00,3.177450e+03,NaN,0.00,NaN,NaN,3.27,NaN,MUS,0.444444,NaN,21332.556,0.432,135.380,20.2
25,Mexico,0.00,0.00,4.766288e+05,3.274378e+05,2.20,1.440000,143.660000,3.60,22.000000,MEX,0.000000,NaN,NaN,NaN,NaN,NaN
26,Netherlands,0.18,0.66,1.528833e+05,2.481330e+03,0.25,0.040000,22.880000,8.76,13.000000,NLD,0.000000,NaN,NaN,NaN,NaN,NaN
27,Norway,4.42,53.51,4.980923e+05,6.478406e+04,6.98,0.210000,158.430000,6.78,9.000000,NOR,0.000000,NaN,NaN,NaN,NaN,NaN
28,Pakistan,0.13,4.63,NaN,8.124000e+01,1.16,0.750000,8.780000,0.92,NaN,PAK,0.222222,137339.452,NaN,NaN,NaN,52.0
29,Panama,0.18,50.00,3.777062e+04,3.399359e+04,0.08,NaN,NaN,2.22,NaN,PAN,0.333333,NaN,NaN,0.272,139.172,11.4
30,Peru,0.00,0.00,2.306038e+05,2.312574e+05,1.66,NaN,NaN,1.56,39.000000,PER,0.222222,NaN,NaN,0.732,56.008,NaN
31,Philippines,0.00,0.00,NaN,6.403861e+04,0.68,NaN,NaN,1.24,29.000000,PHL,0.333333,216964.674,NaN,0.732,56.008,NaN
32,Poland,5.24,30.77,3.335190e+05,7.672094e+04,0.69,0.350000,54.970000,7.96,22.000000,POL,0.000000,NaN,NaN,NaN,NaN,NaN
33,Senegal,0.10,18.87,5.532398e+04,2.776400e+02,1.29,NaN,NaN,0.51,21.000000,SEN,0.222222,NaN,NaN,0.588,45.832,NaN
34,South Korea,53.30,26.80,NaN,2.073160e+04,0.10,0.080000,27.230000,11.74,26.000000,KOR,0.111111,2740708.170,NaN,NaN,NaN,NaN
35,Spain,51.19,23.30,6.176850e+05,7.102186e+04,0.05,0.140000,40.350000,5.33,10.000000,ESP,0.000000,NaN,NaN,NaN,NaN,NaN
36,Sweden,1.10,41.67,7.389144e+05,3.328270e+05,0.39,0.320000,169.290000,3.39,5.000000,SWE,0.000000,NaN,NaN,NaN,NaN,NaN
37,Switzerland,1.57,53.58,NaN,3.518710e+03,0.01,0.350000,300.560000,4.20,10.000000,CHE,0.111111,320465.188,NaN,NaN,NaN,NaN
38,Thailand,0.00,0.00,NaN,1.297940e+05,1.63,0.100000,7.750000,3.47,28.000000,THA,0.111111,154179.788,NaN,NaN,NaN,NaN
39,Turkey,2.44,100.00,4.897285e+05,3.911794e+04,0.31,0.630000,57.240000,4.60,15.000000,TUR,0.000000,NaN,NaN,NaN,NaN,NaN
40,United Kingdom,65.67,16.77,6.074462e+05,2.837664e+04,0.59,0.540000,228.020000,5.30,12.000000,GBR,0.000000,NaN,NaN,NaN,NaN,NaN
41,United States,9.90,8.06,6.102220e+06,2.109918e+06,0.57,0.040000,24.940000,15.03,7.000000,USA,0.000000,NaN,NaN,NaN,NaN,NaN
42,0.0,0.00,0.00,2.380952e-01,2.380952e-02,0.00,0.214286,0.214286,0.00,0.285714,0.0,0.000000,NaN,NaN,NaN,NaN,NaN